{% include "header.html" %}
{% block content %}
        <div class="main-container">
            <h3>Grammar Assistant</h3>
            <h6>English Grammar</h6>
            <p>
                For teachers and learners of the English language, I have developed a small utility. Hope you will find it useful.
            </p>
            <p>
                For example, follow the link below and type a sentence to find out the parts of speech.
            </p>
            <ul class="blog-posts">
                <li><a href="/english/pos">Parts of Speech</a></li>
                <li><a href="/english/word_pairs">Word Pairs</a></li>
            </ul>
       </div>
{% endblock %}
<hr>
{% include "footer.html" %}