{% include "header.html" %}
<nav>
    <a href="/english">English Grammar</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Word Pairs</h3>
    <div>
      <h4>Accept | Except</h4>
        <blockquote>
                    <strong>Accept</strong>: hold as correct, receive or respond favorably <br>
                    I accept defeat in the elections. <br>
                    <strong>Except</strong>: excluding, apart from, omit <br>
                    Everyone must go through military training, except the elderly and the physically disabled.
        </blockquote>
      <h4>Anyway | Any way</h4>
        <blockquote>
                    <strong>Anyway</strong>: regardless, in any case, anyhow<br>
                    I couldn't find the key to the lock; anyway, I am going to break it. <br>
                    <strong>Any way</strong>: any manner, any method, any means<br>
                    We can take any way to the park.
        </blockquote>
      <h4>Compliment | Complement</h4>
        <blockquote>
                    <strong>Compliment</strong>: praise, admiration<br>
                    She complimented him on his language skills.<br>
                    <strong>Complement</strong>: something added to complete<br>
                    The tie is a perfect complement to a suit.
        </blockquote>
        <h4>Lose | Loose</h4>
        <blockquote>
                    <strong>Lose</strong>: misplace, fail to win, withdraw, suffer, shake off<br>
                    She often loses her things because she does not remember where she left them.<br>
                    <strong>Loose</strong>: not tight, sloppy, lax, informal<br>
                    I prefer loose clothing.
        </blockquote>
      <h4>Who | Whom</h4>
        <blockquote>
                    <strong>Who</strong>: Subject in a sentence, used as a pronoun<br>
                    Who is going to get the children to the party? <br>
                    <strong>Whom</strong>: Object in a sentence, used as a pronoun<br>
                    You assigned this project to whom?
        </blockquote>
    </div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}