{% include "header.html" %}
<nav>
    <a href="/english">English Grammar</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Word Pairs</h3>
    <div>
        <h4>Compliment | Complement</h4>
                <p>
                    <strong>Compliment</strong>: praise, admiration<br>
                    She complimented him on his language skills. 
                <p>
                    <strong>Complement</strong>: something added to complete<br>
                    The tie is a perfect complement to a suit.
                </p>
        <h4>Lose | Loose</h4>
                <p>
                    <strong>Lose</strong>: misplace, fail to win, withdraw, suffer, shake off<br>
                    She often loses her things because she does not remember where she left them.
                <p>
                    <strong>Loose</strong>: not tight, sloppy, lax, informal<br>
                    I prefer loose clothing.
                </p>
    </div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}