{% include "header.html" %}
<nav>
    <a href="/english">English Grammar</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Word Pairs</h3>
    <div>
        <dl>
            <dt>Compliment - Complement</dt>
            <dd>
                <p>
                    <strong>Compliment</strong>: praise, admiration<br>
                    <em>Examples</em><br>
                    <ul>
                        <li>
                            She complimented him on his language skills. 
                        </li>
                    </ul>
                </p>
                <p>
                    <strong>Complement</strong>: something added to complete
                    <em>Examples</em><br>
                    <ul>
                        <li>
                            The tie is a perfect complement to a suit.
                        </li>
                    </ul>
                </p>
            </dd>
        </dl>
    </div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}