{% include "header.html" %}
{% block content %}
        <div class="main-container">
            <h3>Hello, World!</h3>
            <h6>Python</h6>
            <p>
                I am going to ramble on programming basics in Python.
            </p>
            <p>
                Keep watching this page or better yet bookmark it. The content here will be added from time to time. 
            </p><p>Feel free to share it with <strong>#TheRambler</strong> or simply use the twitter button on the top.
            </p>
            <ul class="blog-posts">
                <ul class="blog-posts">
                  <li><a href="/helloworldpython/strings">Strings</a></li>
                    <li><a href="/helloworldpython/list">List</a></li>
                  
                    <li><a href="/helloworldpython/list_comprehensions">List Comprehensions</a></li>
                    <li><a href="/helloworldpython/dict">Dictionary</a></li>
                    <li><a href="/helloworldpython/set">Set</a></li>
                    <li><a href="/helloworldpython/map">Map</a></li>
                    <li><a href="/helloworldpython/generators">Generator</a></li>
                </ul>
            </ul>
       </div>
{% endblock %}
<hr>
{% include "footer.html" %}