{% include "header.html" %}
<nav>
    <a href="/people">People</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>My father - a profile</h3>
    <img align="center" src="{{url_for('static', filename='images/people/dad/dad.jpg')}}" alt='my father' width="200" />

    <div>
        <p>
            Born in the Nehruvian era and raised on Gandhian principles, my father, the late Shri B Nageswar Rao, was a freedom fighter and veteran journalist.
        </p>
        <img align="right" src="{{url_for('static', filename='images/people/dad/dads_book.jpg')}}" alt='publication' width="150" /> 
        <p>    
            As a teenager he wrote for the school magazine. A rebel at heart, he wrote against the establishment. That was the beginning of his foray into national politics of the time. Open rebellion was in the air against the British raj and he lost no opportunity in expressing it in his school speeches and writings. Inspired by rebellious spirits of his time, notably T Hayagrivachari and Katam Lakshminarayana, he joined Gandhiji’s satyagraha movement and was awarded imprisonment in Warangal jail for fourteen months. He later paid homage to these mentors in his book Torch Bearers of Freedom Movement, published by the Institute of Historical Research of Freedom Struggle.
        </p> <p>     
            After my grandfather passed, father lived for a while with his elder brother, who wanted him to study and avoid being drawn into the freedom movement. A rebel to the core, father left him to stay alone and pursue his passion, first to follow his rebellious mentors and then later become a journalist. He covered speeches of Gandhi and Nehru and wrote in the local dailies. Much later he became the Chief Reporter and subsequently he edited the Deccan Chronicle, published from Hyderabad.
        </p> <p>     
            His dedication to work earned him rewards from fellow journalists and threats from some sources to retract and desist from writing certain pieces. A visitor of my blog about father wrote: "He was self-effacing and never made fun of others." He was a member of the Indian Union of Working Journalists of which he went on to hold the office of Vice President. He took up the cause of the workers in the press where he worked and worked equally hard to ensure better living conditions for fellow journalists. He was instrumental in establishing the Desoddharaka Bhavan, a building to meet and discuss issues relating to the press. He was also a founding member of the Journalists Colony in Banjara Hills, where he lived until his demise in 1991.
        </p> 
        <img align="right" src="{{url_for('static', filename='images/people/dad/dad_s_reddy.jpg')}}" alt='N Sanjeevareddy' width="150" />
        <p>     
            During his career he was regarded as the best dressed journalist and earned respect not only from his peers but also from political bigwigs like Neelam Sanjeevreddy and PV Narsimha Rao. Mr PV Narsimha Rao had been to our house a couple of times before he became the Chief Minister of the erstwhile Andhra Pradesh and later he paid his last respects to father in our home in Banjara Hills.
        </p> 
        <img align="left" src="{{url_for('static', filename='images/people/dad/dad_pv.jpg')}}" alt='P' width="150" />

        <p>     
            Father engaged whole-heartedly in home gardening. Our backyard teemed with plants of a variety of vegetables. The front of the house was colorful with blooming roses, hollyhocks, lilies and chrysanthemums. There were the mango trees too, and an unusual kind of Asokas, a neem tree and lime. He loved to explode crackers on Diwali and perform the Ganesh pooja every year. He cracked jokes at the dining table, especially his anecdotes of people slaying the English language with their ignorance and peculiar oddities. He wrote fluently in his native Telugu, but mostly in English.
        </p>
    </div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %} 