{% include "header.html" %}
{% block content %}
        <div class="main-container">
            <h3>People</h3>
            <h6>Some people in my life</h6>
            <p>
                These are profile sketches of some people I am fortunate to have been associated with.
            </p>
            <p>They exhibited some commendable qualities and so I have shared their works.</p>
            <ul class="blog-posts">
                <li><a href="/people/dad">My Father - B. Nageswar Rao</a></li>
                <li><a href="/people/swarna">My wife - Swarna Sri</a></li>
              <li><a href="/people/sai">My friend - Sai</a></li>
            </ul>
       </div>
{% endblock %}
<hr>
{% include "footer.html" %}