{% include "header.html" %}
<nav>
    <a href="/people">People</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>MKR Sai - a friend and artist</h3>
    

    <div>     
        <p>
                  <img align="left" src="{{url_for('static', filename='images/people/sai/sai.png')}}" alt='sai' width="100" />
People continue to amaze me. We think we have known a person for so long that nothing they do or say will surprise you. Nothing could be further from the truth. 
</p>
    <center>
        <a href='#' onclick='showPrevPic()'>&#8249; Previous</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='#' onclick='showNextPic()'>Next &#8250;</a><br>
        <iframe id="picframe" frameborder="0" src="/static/images/people/sai/dolls.jpg" width="300px" height="400px"></iframe><br>
    </center>
    <p>
        A college mate and colleague, Sai and I go way back forty years but not until recently have I come to know that he has a talent for drawing and painting. He didn't know either until he did it. Talk about re-inventing oneself.
    </p>
    <p>
Acrylic on canvas is his forte, and he discovered it when his daughter suggested that he try his hand at drawing. Now in his sixties he found his hobby. He has graciously consented to permit me to include some of his works. 
</p>
<p>
He is meticulous and goes deep into the subject that has caught his interest. This is attested to by his wife, and his art corroborates it. I have understood that it is this attention to detail that guides the hand to draw. 
</p>

    <script>
        const pics = ["siva", "srichakram", "ladies", "krishna", "dolls", "animals", "elephant", "peacock"];

        let k = -1;
        function showPrevPic() {
            k = k - 1;
            if(k < 0) {
                k = pics.length - 1;
            }
            fr = document.getElementById('picframe');
            fr.src = '/static/images/people/sai/'+ pics[k] + '.jpg';
        }

        function showNextPic() {
            k = k + 1;
            if(k >= pics.length) {
                k = 0;
            }
            fr = document.getElementById('picframe')
            fr.src = '/static/images/people/sai/' + pics[k] + '.jpg'
        }

    </script>
    </div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %} 
