{% include "header.html" %}  
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Argument</h3>
    <div>
        <p>
Why do we take sides in an argument instead of exploring the topic deeply?
</p><p> 
I have often found myself arguing, trying to prove that I am right. I try to convince the other person not only to see my point of view but to accept it as true. This attitude I have seen is behind every debate.
</p><p> 
Debate is a duel, a clash of opinions, like the lancers of yore challenged to prove one’s superiority. A verbal duel is designed to accomplish the same thing: to prove that one’s point of view is superior to another’s, to show how clever one is.
</p><p> 
When I have seen the true nature of debates between two persons or two groups, I have lost interest in debate per se. I may debate now and then out of habit, but I soon see the futility of it and drop it abruptly.
</p><p> 
You cannot debate without taking sides. The clash of opinions generates the energy, not the passion to discover the truth of the matter.
</p><p> 
Discussion is oriented towards discovery of facts of the matter. It is not hard to see this, when you are in a discussion group. Questions arise, there is a groping to find the answers, and you walk away with a twinkle in the eye. There is no winner or loser in a discussion.
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    