{% include "header.html" %}
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Belief</h3>
    <div>
        <p> 
            Belief as an idea authored by one and propagated by many is indeed strange. The more people believe in that idea, the more it gains currency. And the older the idea, the more sacrosanct it becomes. A legion of defenders guard it, and denounce or attack anyone who questions it.
        </p><p> 
            And yet, belief is one that is most readily condemned and ridiculed, if it is another’s.
        </p><p> 
            I could not wrap my head around this concept of a belief, in the sense of followers holding up an idea or an ideal and gathering more and more people into its fold.
        </p><p> 
            I may believe that something is true and may even test it myself sometimes for its truthiness. Belief is something fundamental and to me it is very subjective.
        </p><p> 
            However, to propagate it and defend it, seems to me is shortsighted, even bigoted. Religious factions form around beliefs and conflicts often arise from clashes of opinions. Those who subscribe to a belief that is different from one’s own belief are regarded as uncivilized on the one extreme and infidel on the other.
        </p><p> 
            Violence is like a shadow of belief. Wherever belief is present, there violence is only a hair’s breadth away.
        </p><p> 
            Another thing that often puzzles me is this: if you believe in the munificence and omniscience of the god you worship, then why do you pray for a particular outcome?
        </p><p> 
            Most people believe out of ignorance. Belief is self-contradictory. Belief divides people and so conflicts arise, yet one believes in toleration and peace.
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    