{% include "header.html" %}  
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Books</h3>
    <div>
<p>Books have always been my constant companions. Like most book-reading people I have read a lot of books. There were many that I read only for the entertainment that they provided or some information they shared. However, the books that shaped or altered my thinking have been closest to my heart.
</p><p>
Books on history are not just informative, they are, I realized, biased and interpreted. The historian’s background dictates the bias in their interpretation of history. There is one book I have come across, however, that to me stands out from the rest - HG Wells’s Outline of History. I have read the abridged version provided by the good author for a layman like me and I found it to be balanced and well-written. It reads like a story and one can race through history from before humans came on the scene. Known mostly for his fictional works, Wells wrote admirably on matters pertaining to facts as well.
</p><p>
My reading was eclectic, not in any philosophical sense but perhaps as an aid to mental development from divergent sources of knowledge. I read a smattering of science, philosophy, economics, pollution, history, geography and not in that order. Some books stood out for me and have had a lasting influence.
</p><p>
I have never been much interested in bodybuilding- I thought it was more important to be knowledgeable, not as a scholar in a particular subject but as an erudite layman - a kind of jack of all trades. And so I remained superficial, skimming the surface and never delving deep. I like the Vedic recommendation: let noble thoughts come from all sides.
</p><p>
I realize now when I am well past my sixtieth year how important it is to look after the body. However, in the past I dabbled in yoga, but having a weak back and being lazy I could never stick to it. I did come across a master teacher of yoga in a book form - BKS Iyengar. His books on yoga - Yoga and The Light on the Yoga Sutras of Patanjali have been my favorite. Yoga to me was something mystical until I came across this line from J Krishnamurti - yoga is a system of physical exercises prevalent in India since ancient times. J Krishnamurti I came to know later learnt yoga from the master himself.
</p><p>
Books that discussed the human condition have always been my favorite.
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    