{% include "header.html" %}  
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Books Again</h3>
    <hr>
    <small>Posted by The Rambler</small>
    <div>
        <p>
        Among the books that influenced and shaped my thinking were those from J Krishnamurti. The title "The seer who walked alone" aptly describes the man and his work. Krishnamurti urged his listeners to question everything. He spun no new philosophy, provided no religious injunctions, nor did he set out to educate humanity. He was regarded as the World Teacher who explored the human mind with his audience and unraveled its depths like Socrates did with the political affairs of men.
        </p><p>
        His biographers likened his compassionate nature to that of the Buddha two thousand five hundred years ago. He had had insightful discussions with scientists and philosophers of his time. His objective, if one could say that, was to bring a refreshingly new look at the human condition and the social milieu in which we operated. He offered no panacea for the ills of the society but rather exposed the motives of human actions and the institutions we have built.
        </p><p>
        "It is truth that liberates," he had once famously declared, "not your effort to be free." You don’t seek truth, I understood, but instead see the false and set it aside, then truth will take its place and guide you further. Freedom, he seems to say, consists in seeing the false as it operates in daily life. That "seeing" shall liberate one from the false, and allow truth to establish.
        </p><p>
        "I hold up a mirror to the society," he enjoined. "See yourself as you actually are, not as you would like to be." For seeing is listening and learning. There are no rules to follow, no morals to adhere to, there is just seeing oneself in action and be awake to the consequences of one’s actions. "Live from moment to moment," he urged his listeners.
        </p><p>
        It is thinking that breeds fear and frustration, he said to his listeners. Thinking about the past breeds fear, sustains pleasure and shapes the future after itself. Hope is the continuity of a thought, so the past modifies and continues in the present. Thinking robs the newness and spontaneity in life. He acknowledged however the role of thinking in technological development of the society. Thinking is necessary to build a house or catch a plane, for example, but thinking in terms of remembering the past or wishing for a future outcome imprisons the mind in pain and pleasure.
        </p><p>
        Another book that held a huge interest for me is The Life of the Buddha by Paul Carus. A meticulously researched book that clearly explains the Buddha’s exhortations to humanity. Free from religious dogma and philosophical enunciations this book presents the Buddha’s message to humanity in simple terms.
        </p><p>
        No one addressed the problems facing humans at such depth as the Buddha and Krishnamurti. While the Buddha preached sermons, J Krishnamurti inquired into the motives behind our daily living and laid bare its shoddiness irrespective of our position in life or our religious or cultural background.
        </p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    