{% include "header.html" %}  
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>First Week in Bellevue</h3>
    <div>
        <p>
Lake Washington separates Seattle from Bellevue, where we stay during our sojourn in the US. There are probably more trees here in Bellevue than buildings, which is kind of rare in big cities like Seattle and Los Angeles. It is quiet here and elegant. 
</p><p> 
We visited the Meydenbauer Bay Park one evening. Known for private yachts and beaches, this park has a great ambience. Sparkling water, terraced garden, and the bridge leading to Seattle, all this and more makes this place enchanting.  
</p>
      <img width="120" src="{{ url_for('static', filename='images/blog/alki.jpg') }}" alt="">
      <p> 
Olympic Sculpture Park was our next destination. It is on the coast near the port area in Seattle. Long walkways crisscrossing islands of grass, sculptures dotting the landscape, ground going up and down and there are many benches to sit on. Breezes rolling in from the sea, its water lapping the coastline gently and the snow capped mountains dividing the ocean from the backwaters here. The place was invigorating, long walks rejuvenating, but the chill on the cheeks is off-putting, was enough to want to leave the place and return to the car.
</p><p> 
Snow covered hills are always attractive and we found them in Snowqualmie. Went to the ski resort, a 45-mile spot from Bellevue, at The Summit, Snowqualmie. After snapping pics and enjoying the snow a bit, we went into the restaurant Milwaukee Lodge and ordered potato finger chips. Later while returning a little magic happened. There was this cycle ski and we were looking and talking about it. The man who was holding it spoke to us - he was quite friendly. He offered his bike to my son Akhil and asked him to push it up the slope and come down riding it. Akhil did as he was instructed and I have captured the video. It was fun and quite thrilling to Akhil. He came hurtling down the slope and the man told him to turn sharply to stop. That was scary, said Akhil. We all thanked the man and returned home happily. 
</p><p> 
Amazon has offices in downtown Seattle, a whole street full of skyscrapers, mostly belonging to Amazon. We took a tour of the place and the awesome view from a 37th floor of Akhil’s office building. 
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    