{% include "header.html" %}  
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Health</h3>
    <div>
        <p>
Mind is the doorway to the body. The mind needs agility and the body exercise. To keep them both healthy I came across this recommendation online.
</p><p> 
<ul>
    <li>Journaling</li>
    <li>Cooking</li>
    <li>Spending time in nature</li>
    <li>Art</li>
    <li>Music</li>
    <li>Reading</li>
    <li>Strategy Games</li>
    <li>Exercise</li>
</ul>
</p><p> 
This eightfold strategy according to the author keeps us agile and fit.
</p><p> 
I've tried journaling several times, there I've said it all. I could never keep it up for long, never consistent and never figured what should go into it.
</p><p> 
I know a smattering of cooking but am too lazy to develop a skill for it. I'm a poor eater but I can certainly enjoy a good meal. I don't know the names of many vegetables so once I wrote an app to identify a vegetable from a photograph.
</p><p> 
Everyone says I should take up home gardening because I'm now a senior citizen. So, I downloaded some how-tos to guide me and with great enthusiasm started working with seeds, plants and pots. After an encouraging beginning the plants began to wither and interest waned and soon evaporated. I love spending time in the wild, in nature in its pristine form, but then after a while you come back to the bustle ana hustle of home life.
</p><p> 
I'm no artist but have often dabbled in art. I learned to play the banjo as a teenager. I drew some pictures with water colours soon after marriage. I wrote a few short stories and attempted a couple of longer stories as novellas. Now I'm learning to play the keyboard halfheartedly. Art it is said is order and I'm anything but orderly in my mind. I'm therefore a dabbler of sorts and I'm okay with it.
</p><p> 
I was once a voracious reader. I spent a lot of money on books. But now I read occasionally and online mostly. I gave up book reading years ago. I haven’t amounted to much by all that reading; although I've acquired some ability to express myself in writing.
</p><p> 
I play addictive games on my mobile, the current one being scrabble. I play chess and that I'm sure qualifies as a strategy game. I play card games for fun but have no head for opponent-outwitting games.
</p><p> 
I always find lame excuses for exercise. I have a history of back pain and that qualifies for an excuse. I've stated walking regularly after suffering a mild stroke but even now I walk only because I have to.
</p><p> 
That's about it guys. I'm sure you have your story around the points of recommendation shared at the beginning of this article.
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    