{% include "header.html" %}  
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Notions</h3>
    <hr>
    <small>Posted by The Rambler</small>
    <div>
<p> 
Don't look for happiness, but look at the disturbances in the mind.
<br><br>
Don't look for enjoyment, but look at the pain in the mind.
<br><br>
Don't seek silence in the mind, but look at the noise in the mind.
<br><br>
Don't look for wisdom, but look at the immaturity in the mind.
<br><br>
Don't look for peace, but look at the violence in the mind.
<br><br>
Don't seek knowledge, but look at the ignorance in the mind.
<br><br>
Don't seek truth, but discover the false in the mind.
<br><br>
Don't try to be good, but look at the bad in the mind.
<br><br>
Don't seek freedom, but look at the enslavements of the mind.
<br><br>
Don't look at the thinker, but look at the thoughts flowing through the mind.
  <br><br>
<strong>Do look at the human mind as a whole, of which yours is a part.</strong> 
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    
