{% include "header.html" %} 
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Opposites</h3>
    <hr>
    <small>Posted by The Rambler</small>
    <div>
        <p>
The world is a play of opposites - leaders and followers, celebrities and fans, supporters and dissenters, heroes and villains, predators and preys, winners and losers, rulers and the ruled, makers and breakers... Opposites complement each other - one exists because of the other, like the two sides of a coin.

</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    
