{% include "header.html" %}  
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Personality</h3>
    <hr>
    <small>Posted by The Rambler</small>
    <div>
        <p>
I think our thoughts constitute our personality. 
        </p><p> 
Every person gets thoughts, but only those he or she acts upon and to what extent depends on their nature. 
</p><p> 
Human nature derives from genes and genes are responsible for thoughts and thoughts are responsible for personality.
</p><p> 
From childhood we are told you are a Hindu, these are your gods, this is your khandan, this is your culture, this is good thought, this is bad thought, these you must learn and remember, these are your scriptures, these are your friends and enemies - basically, we are given things to think about and believe in. 
</p><p> 
Depending on our genetic makeup we imbibe it all and assume a personality, a sense of self. 
</p><p> 
Then thoughts about our experiences add to our personality. And thoughts keep shaping our personality, modifying here, deleting there, but essentially defending it in all life situations. We are encouraged to improve that personality but NEVER EVER to question it!
</p><p> 
We have somehow built up a philosophy of life for ourself. We have accepted certain things as true, certain way of living as right, some thoughts about god and religion as true. Inherited and nurtured, this is our background. It gives us an identity and we do everything in our power to defend it. That identity is our personality. 
</p><p> 
We never question what we are given (this identity) as long as it is pleasant, promising something in the future, offers hope when there is despair, equips the mind with knowledge to overcome arguments, instills faith when in doubt, and so on and on ad infinitum. 
</p><p> 
Like an assembled car, this personality is put together by thoughts. What is put together can show cracks under stress; it is ever in danger of breaking up. 
</p><p> 
Without this personality, this assumed identity, what or who am I? 
</p><p> 
That is the stuff of Upanishads, the teachings of the Buddha and the talks of seers like Ramana Maharshi, J Krishnamurti, Nisargadutt Maharaj, Byron Katie, Eckhart Tolle and many more down the millennia of human existence.  They, who questioned their inherited personality and went beyond in their self-discovery, are few, indeed very few, and are mostly ignored or worshipped but never actually understood. 
</p>
      </div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    
