{% include "header.html" %}  
<nav>
    <a href="/blog">Blog</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Reflections</h3>
    <div>
        <p>

            I think I got to the age when I need to reflect upon the years gone by. 
            </p><p>             
            Perhaps I must look at things I have taken for granted, things that I've taken lightly and things that I've taken seriously. Whether my attitude on these issues over the years has been misplaced, immature and insignificant or not. Neither justification nor condemnation is going to change the fact. 
            
        </p><p> 
I think I got to the age when I need to reflect upon the years gone by. 
</p><p> 
Perhaps I must look at things I have taken for granted, things that I've taken lightly and things that I've taken seriously. Whether my attitude on these issues over the years has been misplaced, immature and insignificant or not. Neither justification nor condemnation is going to change the fact. 
</p><p> 
I get up late in the morning. I haven't seen dawn breaking in a very long time. The night becomes day and I have missed this transition that happens every single day without fail. 
</p><p> 
I look at messages and notifications on my phone and then play scrabble on iPad. I wait for the breakfast. During one such mornings I experienced a strange sensation: I couldn't move my finger to play scrabble! If it wasn't for my younger son, who rushed me to the hospital, I would have become an invalid, with my right arm and leg paralyzed. 
</p><p> 
What is surprising is that even such a great experience has not changed my routine, though I have since added some walking to it. What is so strong in me that even a crisis has not altered it? 
</p><p> 
What is it that I want to do now, in this late stage in my life? I have no more responsibilities to fulfill, no deadlines to keep, no challenges to accomplish, no wish to impress, no desire for experiences. What is it that I want to do? 
</p><p> 
I have spent a great deal of time and money to understand what is life, but personally I have lived an ordinary life. I have nothing to show today that is unique or different from fellowmen. 
</p><p> 
Is there any other way to live? Apparently yes. But I have not found it yet. I'm driven by habits, by thoughts that keep repeating, and for years I have been that way. There's no end apparently. 
</p><p> 
I'm neither happy nor unhappy, neither sad nor joyful, neither dull nor excited; I'm simply going along with the moment, neither ruminating nor anticipating. I'm not complaining and yet I'm not satisfied or convinced that I'm living the right way. 
</p><p> 
I'm working on developing a personal website but I'm not passionate about it, I think. I'm doing it because I've nothing better to do, because I've to be doing something, because I want to show to myself and to others that I'm not vegetating. 
</p><p> 
I feel that I got a second chance at living a normal healthy life, albeit supported by medication. But I also feel that I'm frittering it away through my addiction to laziness, to habits, to incessant thinking. Am I blowing this opportunity to remake myself, to reorient and realign my life?
</p><p> 
All the knowledge that I have gathered about subjects and about people is now becoming irrelevant. It is no longer necessary to remember old things - much of it has become junk in the mind. The accumulations in the mind have become burdensome, useless and keep popping up as endless thoughts. 
</p><p> 
What can I do or not do if I don't want to continue what I do now, or do something different, totally, refreshingly new? Or, do the same things differently? Not habitually, but in unpremeditated ways.
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}