{% include "header.html" %}
{% block content %}
        <div class="main-container">
            <h3>Articles</h3>
            <h6>Non-fiction</h6>
            <p>
                I have written a few articles that were received well in some circles. Hope you will find them interesting, too.
            </p>
            <ul class="blog-posts">
                <li><a href="/articles/the_power_of_the_symbol">The Power of the Symbol</a></li>
                <li><a href="/articles/necklace_road">Necklace Road</a></li>
                <li><a href="/articles/specialists">Living in the shadow of specialists</a></li>
            </ul>
       </div>
{% endblock %}
<hr>
{% include "footer.html" %}