{% include "header.html" %}
<nav>
    <a href="/articles">Articles</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Necklace Road</h3>
    <div>
        <p>
A ring of sodium lamps light up the lake's boundary in the night, hence the name Necklace Road. A popular haunt for children and adults, for tourists and the town's folk, the Necklace Road winds round the Hussain Sagar lake, also known as the tank bund.
</p><p> 
As you drive along the Necklace Road you will notice immediately that you have entered a special place in the city, a place where you leave your cares behind, a place where a vast sheet of water invites you to enjoy its unique environs of birds, rocks and greenery, of boats, water sports and eatery, of parks, lawns and scenery. It promises beautiful moments to capture and carry down the memory lane.
</p><p> 
	As part of the Buddha Poornima project, a huge monolithic statue of the Buddha is erected on an artificial island (the rock of Gibraltar) in the lake created especially for the purpose. 
</p><p> 
    The statue faces the tank bund road and is accessible by motorized boats from the Lumbini Park opposite the State Secretariat. Besides the ferry rides, the park hosts a musical fountain where children lose themselves in their merriment, cavorting and gamboling in its water, while their guardians watch from the lawns before it.
</p><p>     
	As you drive further down the tree-lined road past the secretariat you will reach the NTR Gardens - the maverick actor-turned-politician in whose name this was built and in whose regime as CM that the Buddha Poornima project was successfully undertaken. It boasts of a roller-coaster that propels you through a winding tunnel from a height and you squeal all the way down until you end up with a splash in a pool of water. There is also a small train with all the bells and whistles of a real one - ticket counter, stations, hooting et al. It takes you round the periphery of the vast garden of giant trees and several exotic flowering plants and cacti.
</p><p>     
	Let us stop for a while and digress a bit. I assure you it is the most interesting kind of digression. It is here, between the Lumbini Park and the NTR Park that every year on the last day of the Ganesh festival, the immersion of the Lord takes place. It is the Ganesh immersion when thousands converge in lorries, auto-rickshaws, cars, bikes and bicycles and on foot to take leave of their personal idol and witness the sinking of other idols which range from the size of a human palm to as big as a two-storey building. The police patrol the area with a thousand lights in their eyes - the wave of humanity in that hour of night is a commanding spectacle of noise from the cranes and other machinery, the shouts from the men and the screeching playback music from worn out records, a medley of vehicles of all sizes and shapes that only India can produce. To anyone but the native, it must look and feel like a pandemonium.
</p><p>     
	Continue your drive down the Necklace Road and you will reach a four-lane junction. To the left is the Prasad's, the city's first multiplex, and beside it the McDonald's. Straight ahead is the flyover which leads to Khairatabad junction with the statue of the renowned architect Mokshagundam Vishveshwariah, who tamed the Musi river, the tributary of the mighty Krishna, thus augmenting the efforts of his predecessors from 400 years ago to provide drinking water to the city. You turn right and continue along the Necklace Road, which hugs the lake's embankment all along its route, providing a breathtaking view of the lake to the right and the metro rail line to the left, over which the road flies to reach Khairatabad.
</p><p>     
	It is on this stretch of the road that things happen on a daily basis. A vast tract of land on both sides of the road is left vacant - the left one is reserved for vehicle parking and camel rides for the children; the reserved area to the right side of the road, abutting the lake, is where the city's alfresco events take place. While some events are seasonal - kite flying, regatta and military display of bravado - other events like exhibitions and musical nights take place regularly.
</p><p> 	
    Kites fly in the month of January during the Sankranthi festival, when India celebrates Uttarayan, the winter solstice, and the harvest season. A great many youngsters and adults descend on the area to fly their colorful kites and enjoy the kite battles in the sky.
</p><p> 	
    Sailing on the lake as a competitive sport has been going on for thirty years now organized by sailing clubs in the city. Monsoon regattas bring much cheer and delight to the onlookers.
</p><p> 	
    Writings on the Hussain Sagar lake abound on the web pages sponsored by travel and tourism dotcoms; however they tend to miss an important event: the performance of what to civilians seem dangerous acrobatics over the lake by the Indian Defense units.
</p><p> 	
    On a softer note, several musical nights regale the city folk with performances from the best in the country such as Ustaad Zakir Hussain, whose witty anecdotes regaled the audience.
</p><p> 	
    The place also hosts exhibitions that draw huge crowds even on a working day - books, pickles and namkeens (fried and salted) made by the DWAKRA women (a government supported venture for selling home-made stuff), plant nurseries, handicrafts and similar items on sale and display all year round.
</p><p> 	
    By now you must feel hungry from all that sight-seeing and driving through a thicket of people and vehicles of an evening; head over to Eat Street. Get your favorite dish from across a food counter, walk over to a table closest to the water's edge and settle down for a pleasant evening. If there is full moon, you won’t miss its iridescent sheen over the placid lake. Facing the lake, turn over to your right and look up; if you are lucky you will see the bright lights on the marble temple of Birla Mandir, standing tall on a hillock. It is here on the floor above the eatery that children proudly celebrate their birthday.
</p><p> 	
    Intrepid children pester their parents to take them to Jalavihar - a place for water sports. It is located further down the Necklace Road after the Eat Street. Make sure you carry a towel and extra pair of trousers for them.
</p><p> 	
    On the opposite side of the road is the railway line: the Metro Rail station has an imposing though pleasing structure and transports people to almost all corners of Hyderabad.
</p><p> 	
    This is where I suppose the “necklace” part of the road ends, beginning as we did from the Lumbini end near the Secretariat.
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}