{% include "header.html" %}
<nav>
    <a href="/stories">Stories</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>The Golden Urn</h3>
    <div>
        <p>
<p align="center"><strong>1</strong>
</p><p> 

"I think we should return now," said Sukanya, pausing to take in a lungful of air. The path was steep, bushy and still climbing. The bushes, weeds and bulky trees with arcing branches did little to give cheer to the climbers.
</p><p> 
"C'mon," urged her partner, and broke with one chop of his hand the branch of a tree that hung too low in their path. Under the trees the light dimmed. The path narrowed, twisted and rose in a chiaroscuro of sun and shade.
</p><p> 
"They should have named you Balram," said Sukanya, and flopped down on wild grass abutting the path. Chotu Ram was a short stocky teenager in khaki trousers and a white shirt, in contrast to his delicate partner who was clad in a blue half sari of peekaboo cloth, draped over a green lainga hanging down from shoulder straps.
</p><p> 
"Please, just a little more. I want to look down into the valley just once. Then we will return, I promise."
</p><p> 
Sukanya's eyes dilated in consternation. She shook her head. "No!" A note of alarm crept into her voice. She got up, adjusted her sari and turned resolutely away from the summit. "I am going back," she said firmly. "With or without you." They had walked a good deal away from town, into this forest of wild grass and bushy weeds where few set foot for fear of either losing their way or being mugged.
</p><p> 
Chotu sighed in disappointment. "Just one look from the top, Sukku." He saw Sukanya slowly retracing her steps down the path. "You know you can't go back there alone."
</p><p> 
She stopped dead in her tracks. Fear lurked in her eyes. She turned towards him in desperation. Ignoring the smirk on his face, she ran to him and whispered: "There's that Pagla Pooran on the run." She looked around, suddenly feeling weak from fear. 
</p><p> 
"He escaped from the mental hospital. It was all over the news this morning." A dog barked somewhere. Some birds took flight all of a sudden rustling the air and scattering dead leaves.
</p><p> 
"You better not return alone," he repeated, and felt his heart swell with triumphant pride. "Just a peekaboo down the hill and then we are gone, ok? Come, it will only take a minute." She followed him reluctantly, sticking close to him but eyeing the bushes from time to time.
</p><p> 
"You know that pundit under the banyan tree?" she panted a little from trying to keep pace with him. She didn't wait for him to respond. "He had predicted Pagla Pooran's escape nearly a year ago." Chotu Ram plodded through the bushes with Sukanya hanging on to his arm.
</p><p> 
The path ended at the summit. The landscape opened out and down so suddenly that they had to cling to the nearest bush to keep from slipping into the valley below. From the vantage point Chotu craned his neck and peered hard at the valley floor. Sunlight filtered through the tall bushes and dappled the land below in dark polka dots. Soon the setting sun would stretch the oval patches into eerie shapes and sizes.
</p><p> 
"There is an old haveli here, you know," he said without looking at her. "Only heard of it, but never got to see it."
</p><p> 
"Be careful what you wish for," Sukanya warned. "It is haunted. Even the Daroga doesn't stay there any more."
</p><p> 
"It doesn't hurt to take a look, Sukku. You are so timid." He edged closer to the summit, even as Sukanya clutched at his arm to resist.
</p><p> 
They gasped in unison, more from a rustling crashing sound behind them than from the fear of falling down the wall of the valley. They barely turned to look for the source of that noise when out of the bushes lunged a ragamuffin straight at the stocky explorer and his timid partner.
</p><p> 
Sukanya's grip on Chotu's arm tightened. Chotu stood rooted to the spot, apparently at his wit's end. Sukanya loosened her grip and pushed him hard into the bushes. Chotu slipped and fell down; he grabbed a bush to arrest his slide down the hill. 
</p><p> 
Sukanya, however, could not step aside in time when the man came crashing into her. He grazed her shoulder that sent her spinning like a top. By the time she regained her balance he saw the man scooting downhill at breakneck speed and disappear into the valley below.
</p><p> 
Chotu picked himself up and glared at his companion. "You could have got me killed," he complained, brushing weed down his trousers. She pouted and commented drily, "you would have been dead by now if you had remained in that fellow's path." She looked down the hill and found no trace of the human locomotive that hurtled through them.
</p><p> 
"Who was that guy?" Chotu followed her gaze to the valley floor. "Could it be.." 
</p><p> 
"Shhh..." Sukanya shushed him. She stood still and whispered, "hear that?" Chotu pricked his ears: a faint barking could be heard now and it grew in loudness. "It must be chasing this guy. Oh my god! Did we just meet Pagla Pooran?"
</p><p> 
The barking grew louder followed by the sound of boots crushing dry leaves underfoot. "Quick!" Chotu sounded alarmed. "Let's hide somewhere."
</p><p> 
"What's the matter now?" Sukanya's brows knitted in puzzlement. "It must be the hospital security, looking for Pagla Pooran."
</p><p> 
Chotu was mortified to see his timid partner expose his chinky armour. He smiled sheepishly. Sukanya prodded him in the ribs and felt better, brushing aside a vague trepidation gnawing at her heart.
</p><p> 
Presently the barking dog appeared straining against a leash held by a khaki-clad hawaldar. He was short, stout and panting, hardly able to hold his canine partner on the leash. The teens exchanged a surprised look: this was not the hospital security. A policeman chasing a madman in the bushes? It seemed so ridiculous that they burst out laughing.
</p><p> 
The hawaldar smacked his stick against a shrub and summoning enough strength asked in the stentorian manner of his ilk: "what is so funny? Have you never seen a policeman chase a thief?"
</p><p> 
"Thief!?" Said the duo in unison. They seemed to echo each other when their feelings are in sync.
</p><p> 
The dog barked as if to concur and alternately sniffed and strained against his leash. He kept pulling the cop so often that there was hardly any space left between the teens and the brute with his master in tow.
</p><p> 
"Did you see him? Did he come this way? My dog seems to think so," the policeman said lugging his canine companion.
</p><p> 
"Oh." Sukanya was the first to recover. "We saw a filthy ruffian crashing through the bushes. We thought he was Pagla Pooran, was he not?"
</p><p> 
The hawaldar's eyes gleamed. "Where? Which way did he go? That rascal stole a priceless antique." He looked around and urged his partner to sniff more. He loosened the hold on the leash just a wee bit to allow the brute to sniff around.
</p><p> 
"Pagla Pooran is a thief also?" Sukanya had trouble associating thievery with madness. The dog began to sniff around her and she edged away, a little diffident now that she was so close to the panting brute and his portly master.
</p><p> 
"No, no no." The hawaldar waved his stick in the air as if to erase their misapprehension. But before he could complete his explanation the brute lunged at Sukanya and pounced on her half sari.
</p><p> 
"Haaaa...." Sukanya flailed her arms but to no avail. She crashed into the bushes on the very edge of the summit, clutching at the branch of a tree in quiet desperation. Chotu ran to her rescue, but he was too late, too careless of his own safety and slipped down the incline. The stocky frame gained momentum and took him down a good deal before he could grab a tuft of bushy growth to hang on to. The hawaldar, perturbed at this sudden turn of events, let go of his hold on the dog and went to help Sukanya up.
</p><p> 
By the time the policeman returned to the top with the hapless girl in one piece, they found to their amazement that the dog had torn her sari to pieces. Then before they could react he loped down the hillside at a speed that Sukanya knew only matched that of the absconding thief. They saw Chotu painfully making his way up the steep slope, clutching at anything that afforded a good purchase on his way up.
</p><p> 
The daylight was thinning as the trio huddled together to plan their next move. The teens despaired of returning since it was growing dark by the minute. Soon it would be impossible to walk without bumping into a tree or tumbling down a slope. For the youngsters, the thought of Pagla Pooran running loose on the hapless humanity sent shivers down their spine. The hawaldar had no choice but to pursue the thief by merely going in the general direction that his dog had taken. As if in answer to his musing, the dog rent the air with his barks like a clarion call to his master.
</p><p> 
"Follow me," commanded the hawaldar taking out a torch from his trouser pocket.
</p><p> 
"You don't carry a gun, do you?" Sukanya asked without conviction. Hawaldars were usually small cops with big sticks and maybe a dog sometimes.
</p><p> 
"I am chasing a smuggler," responded the policeman with hurting pride to her unspoken questions. To assure her of his command of the situation he patted a holster under his shoulder. The teens saw the shape of a service revolver and at once felt at ease. They sighed together in relief.
</p><p align="center"><strong>2</strong>
</p><p> 
"What did he steal hawaldar sahab?" The hawaldar listened intently for his howling dog and followed him, less from certainty and more from intuition. Sukanya followed the hawaldar down the bushy slope. She felt a tingle of adrenalin course down her spine. 
</p><p> 
There was the cop of course with long stick and a holstered revolver. And Chotu Ram brought up the rear. He watched his sari-less companion walk gingerly down the rough incline and prepared to rush to her rescue at the slightest hint of danger. Unknown to the dog, the howling brute led a curious retinue behind him.
</p><p> 
"The rascal stole a Kalash from the Daroga. How dare he? This is going to be his nemesis. I tell you. He will regret he ever stole anything from my town."
</p><p> 
"How did the Daroga come by it?" Sukanya wondered aloud. "I am sure it is from the haveli."
</p><p> 
"He is the caretaker, Sukku. He must have brought things over to look after them." 
</p><p> 
Chotu didn't think it was remiss on the part of the Daroga in the discharge of his duty.
</p><p> 
"Maybe you are right," concurred the hawaldar. "Maybe he should have handed it over to the government. In any case it is stolen now and it is my duty to get it back."
</p><p> 
Sukanya pursued her line of thought. "Who owns the haveli now? Is there no surviving heir from the family?"
</p><p> 
"It's a long story. The last scion of the family didn't have children, his wife died under mysterious circumstances and the man, poor man, he went mad."
</p><p> 
"What?!" Cried the teens in unison.
</p><p> 
"Yes," nodded the hawaldar. He is known as the Pagla Pooran, the deranged scion of the haveli, the lone surviving member of that unfortunate family."
</p><p> 
"Is he dangerous?" Sukanya felt the tingle of fear return to her eyes. The darkening land stoked it further. What Chotu Ram said next, though he regretted it immediately, sent a chill down her spine.
</p><p> 
"You said his wife died suddenly. Is she haunting the haveli now?"
</p><p> 
"The law does not recognize ghosts," said the hawaldar and spat into the bushes.
</p><p> 
"What do YOU think?" persisted Chotu, warming up to his own line of thought. The hawaldar squirmed and whipped out his torch to life. The dog stopped howling and sniveled instead, still a good distance away. The sound of water rushing downstream floated up through the darkness.
</p><p> 
"Does it matter what he thinks?" Cut in Sukanya unexpectedly coming to the hawaldar's rescue. "Neither science nor law covers the whole of life," pontificated Chotu Ram's timid companion, emboldened by the presence of the law enforcer.
</p><p> 
They came down to the valley where the dog groveled by the side of the stream, having lost the trail of the robber.
</p><p> 
"He must have crossed the stream and escaped," observed the hawaldar shaking his torchlight on the rushing waters.
</p><p> 
"Can we leave now?" Sukanya felt relieved; she feared the encounter with the smuggler more than she feared running into Pagla Pooran.
</p><p> 
"You mean return home? No way," the hawaldar was categorical. "I am on duty, remember? He couldn't have gone far. I bet he is hiding in the haveli."
</p><p> 
The youngsters exchanged a troubled look; helpless, incredulous. Sukanya shuffled her feet and looked at her partner in silent fury. Chotu Ram commiserated with her situation but inwardly he felt a little elated that he was going to see the haveli after all.
</p><p> 
"We never ventured out this far," she tried to explain to the officer. "Our parents will be worried."
</p><p> 
"I know," the hawaldar said getting hold of the leash once again. The dog pulled him into the water and he hesitated for a moment. Sukanya waited expectantly, hoping he would change his mind. Chotu Ram's enthusiasm waned a bit and silently prayed that the man would move on without looking back.
</p><p> 
"You can wait here until I return with the rascal. He is holed up in that haveli. I am pretty sure of it."
</p><p> 
"Oh no!" Sukanya wouldn't hear of it. Without a light from the torch or the support of the law, she would feel lonely and abandoned, Chotu Ram or Balram notwithstanding. "I am coming," she announced. Chotu let out a sigh of relief so loud that she shot him a look that would have scorched him if he had seen it in light.
</p><p> 
They made their way through knee deep water. It was cool and at any other time would have made a wonderful picnic. The torch shone so bright that the water sparkled.
</p><p> 
"Are there snakes in this water?" Sukanya asked out loud, a little numbed by fear. No one ventured an answer.
</p><p> 
The dog led the way and the trio merely followed, alert to the sounds of the forest. Insects buzzed and occasionally the wind ruffled the foliage. Frogs croaked and sometimes the wind howled. The dog fell silent, his nose barely an inch from the ground. He stole through the bushes like a burrowing animal, while his followers struggled to pass and keep pace with him.
</p><p> 
"We have a poornima today don't we? And where is the moon?" Sukanya scanned the sky, but there was no sign of the moon.
</p><p> 
"Are you sure?" Chotu looked up and stumbled in a ditch. He swore at the darkness, the bushes and at his own carelessness.
</p><p> 
Sukanya barely suppressed a giggle. Being close to the source of light, she walked more easily. She became a little serious as she said, "remember the pundit's prophesy? It's got to be a full moon night, the night that Pagla Pooran was destined to escape."
</p><p> 
"The moon is hidden behind the hills," observed the hawaldar, skirting the issue of profecies and demons. Hiding in the dark was a fugitive and it was his duty to apprehend him at any cost.
</p><p> 
"Lurking in the dark," echoed Sukanya the hawaldar's thoughts, "the Pagla Pooran is biding his time." Her voice was laced with dark humour, but her audience was in no mood to encourage it. The dog went about his sleuthing job, frothing at the mouth and sniveling once in a while, its nose buried in the ground and plodding through it.
</p><p> 
"The moon will take some time to rise and shine over the valley," continued the hawaldar. "In the meantime," his voice assumed a tone of authority, "keep your ears cocked and your eyes peeled. We don't want to be ambushed by a lunatic or a fugitive."
</p><p> 
"We have the dog to protect us," reminded Chotu Ram, more for self assurance than to counter the hawaldar's warning. "And you have a revolver too," added Sukanya, unwittingly taking her partner's side, much to the chagrin of the policeman.
</p><p> 
"Quiet, people," he hissed and brought up short. Everyone stood still. Even the dog lifted his head and cocked it to one side.
</p><p> 
A slight rustle broke through the stillness, followed by a hooded figure rising from the ground and loping fast through the trees like a leopard. The trio gaped at the rushing silhouette.
</p><p> 
Then the hawaldar looked at the dog and the dog looked back at him in silent obedience. The teens exclaimed in unison: "why is the dog not chasing him?"
</p><p> 
"Because," explained the hawaldar patiently, "he is not the thief."
</p><p> 
"Oh I see." Chotu Ram did not see at all. "How in the name of god does he know that?" He demanded an explanation that is more elaborate than what he received.
</p><p> 
"Oh shut up!" Sukanya prodded him in the ribs. "Remember my sari? The dog smelled the thief on it. And this was apparently not the thief. Without doubt, it is Pagla Pooran!"
</p><p> 
"It could be anybody." The hawaldar was not convinced. "There are more people hiding from the law than you can count the hairs on your head. Come on. Let's follow him." With that, he prodded the dog and urged him to pursue the sprinter. The dog moaned and sniveled and apparently took up the task reluctantly.
</p><p> 
"What if it wasn't anybody at all? It must be the ghost that haunts the haveli." 
</p><p> 
Sukanya's thoughts raced, fueled by the stories she had heard from her mother about ghosts and their wicked ways, abetted by her unusual circumstances and the fact that they were approaching the castle in question.
</p><p> 
"Be quiet, young woman," commanded the hawaldar, a note of exasperation creeping into his voice. "Ghost or no, I am going to pursue it to the very end of the world. If you don't have the stomach for it, you may as well find your way back to the town." That shut her up for good. Chotu Ram kept his lips sealed. Sukanya breathed a fervent prayer to all the gods in the Hindu pantheon to free her from the tyranny of thieves and apparitions.
</p><p align="center"><strong>3</strong>
</p><p> 
The moon rose from behind the hills and lit up the valley. The dog looked at the moon and howled, apparently to mark his displeasure in seeing it arrive late to the scene. Urged by his master he loped over the bushes and settled into a steady pace in the direction of the fleeing figure. The trio hurried to keep pace, now that the place wore what appeared to be a sunny look compared to the pitch darkness only a while back. The grunting of pigs and the croaking of frogs seemed less menacing.
</p><p> 
The haveli came gradually into view as it scaled the treetops. First appeared what looked like battlements surrounding the terraces like a fortress. Then came the cornices that rose above the rooms, followed by the alcoves and arches adorning the walls. The plaster on the walls was discontinuous leaving ugly patches where it peeled. Creepers climbed the pillars and shrouded the walls like tombs. The glass on the massive windows gathered dust and tufts of moss stuck to the sills. The alabaster walls wore a dank musty look, like the moulds that found home in their niches. Much of the haveli lay hidden behind a tall boundary wall. A huge wrought iron gate supported a variety of plants and their creepy tendrils.
</p><p> 
They found the gate padlocked and buried in foot-high soil. The dog smelled the ground as it ran along the wall. They followed in silence; the hawaldar flushed with excitement and the youngsters with bated breath.
</p><p> 
The dog found a hole in the wall well hidden from view behind a thick bush and dried up twigs. The hawaldar shone his torch around the hole for a safe way to pass through.
</p><p> 
"Have you been here before?" Sukanya's curiosity got the better of her resolve to remain silent.
</p><p> 
He shook his head. "Only once before when the lady died. I had come to investigate and soon after that the place was shut down, the husband having been locked up in the asylum. The Daroga took up quarters in the town and left the haveli for good."
</p><p> 
The hole led to a path after a few yards of mossy undergrowth covered over by fallen leaves. The dog seemed to hesitate a bit for he slowed down, retraced his path, walked some more before backtracking again. "He is unsure of which scent to follow," explained his master.
</p><p> 
"That means both the fugitive and the lunatic have converged here." Sukanya surmised and announced to her stocky partner.
</p><p> 
"And there is this wraithlike figure in the mix," added Chotu Ram, not to be outdone by her no-longer timid companion.
</p><p> 
"Here," said the hawaldar drawing Chotu's attention and sent his stick flying in his direction. Chotu caught it deftly and twirled it round his palm. The revolver left its snuggle in the hawaldar's armpit and took up its position in his palm, ready to fire when its master commanded. Sukanya felt less secure now when she saw that the men were now ready to take on evil in flesh and blood or in spirit alone.
</p><p> 
The dog led them to the back of the haveli where the path divided into two. Again, the dog stopped and let his tongue hang, breathing heavily and sniffing its nose off for whatever it was worth. The hawaldar peered at the path and seemed to have made up his mind. "Come," he urged his followers. "My task is to apprehend the thief," he whispered. "To hell with the madman. The devil will take care of him."
</p><p> 
"How do you know which way to go?" Sukanya had trouble following his thoughts. It was different from following him physically.
</p><p> 
"I don't," he answered frankly. He took out a rag from his pocket. It was a piece from Sukanya's sari. He bent down and touched it to the dog's nose. A moment later the dog took a path and hurtled down the way. The others ran after him. They went inside through an arched doorway, its massive wooden door ajar.
</p><p> 
It was dark inside the building. An awning covered over with weeds and tangled creepers shut out the light and left the interior in total darkness. The torch reappeared in the hawaldar's hand: he held the gun in one hand and lighted their way with the other.
</p><p> 
Sukanya squealed in horror. The torch revealed a network of cobwebs. The men had to pry her loose. The dust rose and threatened to choke their nostrils. The dog began to scratch on something. It was a door. The grating noise went against the grain and produced a strong reaction from Chotu Ram. He executed a mighty kick that shook the door and slivers of wood flew in the air. But the door held. The hawaldar shot the bolt and flung the door open.
</p><p> 
They trooped into the room in a single file. It was damp; the furniture or what was left of it by dust mites appeared unused for years. Mice scurried for cover producing more squeals from Sukanya. One room led to another and they were back where they had begun. The dog couldn't pursue either. It chose a spot to pant and snivel. The hawaldar felt disappointed that the chase had led him to a dead end.
</p><p> 
"Alright," he said assuming authority once again. "We have lost the trail. Let's head back and look for another entrance." He called for his sleuthing partner, but the dog wouldn't budge from his place. He settled down with its stomach heaving, mouth frothing and its eyes glued to something on the wall.
</p><p> 
"C'mon, let's go," hollered the cop at the reluctant dog.
</p><p> 
"Wait," Sukanya said and pointed to a hole in the wall. From it ran a short length of a nylon chord, just out of reach.
</p><p> 
"So you think you found something, hunh? You think you are better than my dog? It's nothing more than a support for a photo frame. Come on, let's go. Don't waste my time. You are slowing me down as it is."
</p><p> 
Chotu Ram did not like the way the hawaldar spoke to his partner. Authority was one thing; denial of a chance to speak one's mind - that was entirely different. He lifted his stick and looping the rope round it pulled hard. A creaking noise followed and then the sound of a door sliding.
</p><p> 
"A secret door!," exclaimed the policeman. "That's my dog. No wonder he wouldn't leave the spot." The youngsters exchanged glances that spoke volumes about the representative of the law; that is, for anyone who cared to hear it. "Hmmm...," continued the sleuth, "I think I can smell a rat in this whole mess!"
</p><p> 
The teens burst into laughter: the rat infested place had at last caught up with the hawaldar's incisive mind.
</p><p> 
The hawaldar shushed them again and motioned them to follow the dog as it began smelling the place for a recognizable scent.
</p><p> 
The door led the sleuths into a long winding tunnel. The dog continued to follow the scent, now picking up speed, now slowing down. Presently the tunnel opened into a clearing. The dog stopped and sniffed. The hawaldar flashed the light around and to their disappointment found two more tunnels diverging away from it. Which one to take? Apparently the dog found itself in a dilemma and sat on its haunches between the two openings waiting for his master to command.
</p><p> 
"The thief, dog, the thief!" Shouted Sukanya. "Follow the thief."
</p><p> 
"No!" The voice carried authority, the weight of the law.
</p><p> 
"What?!" Cried the duo at the same time.
</p><p> 
"Look. Let me do my job, OK? I will do it my way."
</p><p> 
"But," protested Chotu Ram, "you wanted to apprehend the thief and when you do, we could all go home."
</p><p> 
"No, no, no. You don't understand. There is a bigger game afoot. And if we do not hurry, we may be too late to prevent a murder!" 
</p><p> 
With that, the hawaldar held the dog on the leash. He made him smell the tattered piece of Sukanya's Sari. When the dog strained on the leash towards one tunnel, the hawaldar commanded him to take the other.
</p><p> 
"He is taking us to Pagla Pooran!" Wailed Sukanya under her breath. "Oh my god, he may be lurking in the shadows somewhere..."
</p><p> 
"Murder?!" Chotu Ram paled.
</p><p> 
"Be quiet," commanded the hawaldar. "Hurry up or else..." He left an unspoken threat in the air.
</p><p> 
At the end of the tunnel, the hawaldar commanded his dog too to be quiet. He held him close to his side and reached the exit slowly, making sure the torchlight did not betray his presence. Then he did the unthinkable. He switched off the torch and pocketed it. The youngsters huddled close to him as he peered through the moonlit courtyard outside.
</p><p> 
"Shhhhh...." He hissed. "Don't make a sound, " he whispered. "Look!" They did, or as much as they could over his shoulder. The dog strained on the leash and the master gave it a hard tug to make him stop.
</p><p> 
There were two people outside. One they could identify as the man who almost knocked the teens down the hillside. The other was covered in a long coat and a hat pulled down over his eyes. He stood in the shadow of a column that supported the ceiling. He took out a bundle of currency notes and handed it over to the man in rags, who in exchange took out a gilded kalash that glinted like a rare jewel in the moonlight.
</p><p> 
"I got you, you rascal," hissed the hawaldar now thoroughly excited. He exulted as the man who cracked a particularly recalcitrant case.
</p><p> 
"Arrest him," implored Sukanya. "He is getting away."
</p><p> 
"Aw, shut up! I know my job."
</p><p> 
After the thief exited through the other tunnel, the man in the long coat felt the lustrous urn in his hand. Just then there was a loud thud and a hooded figure pounced on him. The two fell to the floor and got into a scuffle. The man knocked his assailant on the head with the metal urn. The hooded attacker ducked in time and pulled out a knife.
</p><p> 
The hawaldar stepped into the courtyard and fired a bullet in the air. "Don't move or I WILL shoot," he made it sound so convincing that the two men froze.
</p><p> 
"Step away from the Daroga," ordered the hawaldar waving his gun at the hooded figure.
</p><p> 
"You know nothing hawaldar," cried the man. "Let me handle it my way."
</p><p> 
"Don't take the law into your own hands, Pooran sahab," the hawaldar said evenly. The youngsters drew in their breaths at the same time.
</p><p> 
"Pagla Pooran," muttered Sukanya awestruck.
</p><p> 
"I am no more mad than any of you here," said Pooran in his defense. "It is this rascal Daroga here who killed my wife."
</p><p> 
"I know, I know," said the hawaldar. "The law will take its course. The Daroga will meet his just deserts." He advanced menacingly towards Pooran.
</p><p> 
"The law! Where was the law when he killed my wife, haan? Where were you when he sent me to the lunatic asylum. No one heard my story, not even you!" With that he raised his hand to strike the Daroga pinned beneath him.
</p><p> 
The gun fired again. This time the bullet ripped through Pooran's hand and knocked the knife out of his grip. The hawaldar walked up to it and kicked it away. Pooran howled in pain. The Daroga attempted to get up, but the hawaldar laid him low with a smack from the butt of his gun. He then commanded the two men to stand back to back and snapped a pair of handcuffs on their wrists.
</p><p> 
"I had suspected the Daroga ever since he moved out of the haveli and spread the news of a ghost haunting the place. My suspicion hardened when after only a couple of years Pooran was declared insane and committed to a mental institution. I was biding my time to nab the fellow as much as Pooran was to avenge the murder of his wife."
</p><p> 
This was too much for the teens to take in. Too many things happened in one evening, and in such a rush, to digest it all at once. Chotu Ram watched the spectacle spellbound. Sukanya was the first to recover.
</p><p> 
"But why would the Daroga fake a robbery to get back the urn that was there in his house all along?"
</p><p> 
"Aha...you see, it takes a sleuth to figure it out. Not a bunch of teenage explorers looking for trouble." He spat contemptuously.
</p><p> 
Sukanya twisted her lips. Chotu Ram puffed up to deliver a sound repartee. But before he could do it, Pooran supplied the answer to the twisted tale of the unfortunate scion of the haveli.
</p><p> 
"He sold the antiques to dealers in big cities and made himself wealthy. That way no one would suspect him of foul play."
</p><p> 
The teens looked at each other and gazed at Pooran with new found respect.
</p><p> 
"How did you know he would come here today?" Sukanya did not like to leave things to conjecture. There had to be an answer.
</p><p> 
"A tip off from the town's pundit," Pooran said and fell silent. The dog settled into a comfortable trot at the Daroga's heels.
</p><p> 
The Daroga clenched his teeth, fumed and hissed. "The pundit! He set me up. I will..." Another smack from the butt of the revolver silenced the Daroga for good.
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    