{% include "header.html" %}
{% block content %}
        <div class="main-container">
            <h3>Short Stories</h3>
            <h6>Fiction</h6>
            <p>
                I wrote a few short stories to amuse myself. It was an itch that needed scratching.
            </p>
            <ul class="blog-posts">
                <li><a href="/stories/golden_urn">The Golden Urn</a></li>
                <li><a href="/stories/abbi">Abbi, The Rogue</a></li>
                <li><a href="/stories/the_curse">The Curse</a></li>
                <li><a href="/stories/the_deal">The Deal</a></li>
                <li><a href="/stories/ratnavali">Ratnavali</a></li>
                <li><a href="/stories/gunslinger">The Scarlet Gunslinger</a></li>
                <li><a href="/stories/the_package">The Package</a></li>
            </ul>
       </div>
{% endblock %}
<hr>
{% include "footer.html" %}