{% include "header.html" %}
<nav>
    <a href="/stories">Stories</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Ratnavali</h3>
    <div>
        <p>
<p align="center"><strong>1</strong>
</p><p> 
I peered through a crack in the cabin door: the Boss looked belligerent without his glasses, but seemed less busy than usual. I nodded at the tall scrawny man in business clothes, holding a briefcase. He stood demurely in front of the door, knocked twice apprehensively and waited. 
</p><p> 
"Who is it?" The voice of the Boss was a notch lower than the usual decibel level, which confirmed my assessment.
</p><p> 	
"Go on," I said to the man, urging him to proceed; I said it appeared that all was well.
</p><p> 
"Venkat Rao, sir," he answered and swallowed hard. "May I come in...sir?"
</p><p> 
The man represented a business party overseas. His job consisted in passing on the work from the overseas party to my Boss. The skinny intermediary, who always looked as if he was caught between the devil and the deep sea, got paid for the work done and then, keeping his cut, handed over the remaining to my Boss. The party and the Boss did not know each other and did not care: they had Mr. Venkat Rao who brokered the deal between them and kept the two parties incognito.
</p><p> 
"Ah, Mr. Rao," said the Boss. "Come on in. We haven't seen you in a long time.” And skipping the preliminaries he came straight to the point, “I hope you have come to pay me my dues." The Boss thinks it does not make sound investment to indulge in small talk.
</p><p> 
The automatic door closed after the man, but the boss's voice could still be heard through the cracks in the door. Mr. Rao owed my boss a certain sum of money for the work we had done for him. The Boss did not take kindly to slackness in payments, but Mr. Rao was an exception: he has been working for the Boss for over a year now, bringing in good orders and honored all payments and always well in time, if you ignored a couple of exceptions. 
</p><p> 
This time, however, the payment got inordinately delayed; Rao pleaded for extension of time. Nearly six months have passed, still there was no payment. No new orders came from him either. The document conversion work, which is what we did, came under stiff competition and what orders we got were not encouraging. 
</p><p> 
I couldn't hear what the man said, but the Boss bellowed: "I will give you exactly one week more, Mr Rao. Either you pay up, or else ..." he let the words hang ominously. When it came to money all the camaraderie of the past vanished without a trace.
</p><p> 
The door opened and Mr Rao bounded out, head bent, and left hurriedly, clutching his briefcase as if he had his life secured in it.
</p><p> 
I caught sight of the Boss as the door closed rapidly shut. He paced the room up and down and smacked a clenched fist into an open palm; he was clearly agitated and consequently more belligerent.
</p><p> 
The Boss called for Suri, a short thickset man with a hairline mustache, his troubleshooter. Suri joined the team only three weeks ago and spent his time mostly outside the office: he collected payments for the Boss. The Boss and Suri remained closeted for about an hour and apparently spoke in low tones, for I heard nothing. I could guess though – he probably wanted to put “pressure” on Mr. Rao to extract the payment. Suri often boasted of his “methods of extraction” and so it was not hard to guess. I know the ways of my boss – he could be as pleasant in good times as he could be most disagreeable when things did not go in his favor.
</p><p> 
I am among the oldest few who joined the Boss in his venture. I know him for about a couple of years now; we live in the same locality, although my one-bedroom flat did not compare with his 400 square yards of independent house. 
</p><p> 
The work went on well for a year. Middlemen like Mr. Rao brought us good orders, which usually consisted in converting an Adobe PDF document into Microsoft Word and so on. The documents were often copyrighted, read-only and locked, which meant we could not perform copy-paste operations, but the Boss knew where to find the crackers who could break the security pass for us. Once the security is breached, the document is open to be ‘read’ by a program and the content is then converted into another format. If the crack failed, he would ask us to type out the whole content word for word. Payments were good and the risks seemed remote, since there was always a man in the middle who took all the risks. 
</p><p> 
Personally, I do not like the work much, but the job situation is bad – it is the period of the dotcom bust – and I have to ride it out no matter how hard it is.
</p><p> 
Suri came out and grinned at me. I responded with a swift smile. “Let’s go for a smoke, shall we?” he said, and we stepped out of the office, for we are done for the day and waited for the arrival of the next batch of work. 
</p><p> 
Taking the short flight of stairs two at a time we rushed into the street and stopped at a roadside cigarette vendor. Suri bought a couple of Gold Flake king-size cigarettes and offered one to me. We smoked quietly for a while, watching the stream of vehicles and passers-by as they hurried to their destination.
</p><p> 	
“It is a dirty job,” he said, and grinned in an inviting way. I am wary of smart-alecks; I merely nodded and looked away. 
</p><p> 	
“The Boss is a tough fellow; he knows how to get his money back.” Suri waited for me to say something; I smoked his cigarette and felt awkward to remain silent. I must respond I thought, and blurted out: “Are you going after Mr. Rao?”
</p><p> 	
Suri grinned and revealed yellowing teeth; he drank too much tea and smoked often. His stout frame bespoke of generous amounts of liquor consumption, in addition to a liberal intake of food. “You bet,” he said, relishing the thought. He seemed to enjoy his job, despite his protestation to the contrary.
</p><p> 	
“This Rao is no big deal,” he said. His eyes twinkled as he reminisced: “I got into brawls with toughs before. This man Rao is a piece of cake.”
</p><p> 	
“Did you get physical with any one?” I asked him, a little horrified at the prospect.
</p><p> 	
Suri bared his teeth again and nodded vigorously. “There is a punch I have learnt to knock even big guys down; this guy Rao is a baby.”
</p><p> 	
“Won’t you get into trouble with the police?” I have a horror of policemen; I have never stepped into a police station and hope I shall never have to.
</p><p> 	
“Ah, the police! I know how to handle them. In any case, it never goes that far. You know it is a dirty business – this hacking and all – and no one wants the police in it.”
</p><p> 	
We threw the butts near the curb and went back to the office. 
</p>
<p align="center"><strong>2</strong> 
</p><p> 
About an hour later I left the office and headed home. On the way I stopped by a toy shop to purchase something for my daughter. She turned two last month, but today it is her birthday according to the Hindu lunar calendar. The birthday bash last month on the apartment's rooftop cut deep into my wallet, but one must just go on I suppose hoping for good times. Today it will be a low key affair no doubt - just my wife Soumya, my precious Ratnavali and me - but it costs nonetheless. 
</p><p> 
I bought a teddy bear, a small white fur-covered bear in sitting position with open arms, and some sweets. Soumya opened the door with Ratnavali on one arm. Ratnavali jumped into my arms, while Soumya relieved me of my office bag and the gift-wrapped present.
</p><p> 
I waltzed into the room and spun round and round, encouraged by Ratnavali's delightful squeals.
</p><p> 
"Stop!" cried Soumya. "She has just had her dinner." 
</p><p> 
She opened the packet and took out the teddy, and then dangled it in front of Ratnavali. The child slid down from my arms and dashed towards it. She grabbed the teddy from her mother and gave it a bear hug. 
</p><p>  	
"Was it necessary now?" Soumya's concern was genuine. We couldn't afford unplanned expenditure, especially when there was already a loan to repay. However, the spontaneous and innocent delight on the child's face wiped away our worry for the moment.
</p><p> 
"Did you feed her already? I thought I could watch her eating." I work even on Sundays and some holidays too and so miss a lot that happens at home. 
</p><p> 
</p><p> 
"Oh. She becomes most naughty when she is hungry. So I fed her soon to quieten her."  
</p><p> 
Ratnavali keeps her busy all day; the toys all over the place, and then the utensils scattered in the kitchen, which double as play things, and of course the daily chores of feeding, bathing, dressing and playing with her - all this in addition to cooking, sweeping and washing.               
</p><p> 
The child sleeps between us in the night; she plays with me until she is tired, which is of course rare, or I doze off from sheer exhaustion. She has come into our lives quite late for a marriage of six years, but when she did, it is never the same again. We doted on her and Soumya never complained of hardship even on a middling income. 
</p><p> 
"You must tire a lot with all that work. Let's plan a decent holiday."
</p><p> 
"No," she protested. "Let's pay off the loan first, and then we can think of the holiday. No more expenses until we do that."
</p><p> 
She was right of course. The loan is looming on our lives like a sword; it has kept us indoors ever since I took it some six months ago to purchase this flat. I had a decent income then, but the dotcom crash kicked me out of work, until I found this miserable job. Without the child to delight and lift my spirits I would probably go mad in this one-room tenement which for me has been more like a resting house than a home for two years now. 
</p><p> 
"We are doing fine,” she said, squeezing my arm.  “Don't fret too much over it."
</p><p> 
“These people I work for - they are not good.”
</p><p> 
“What do you mean? You are not getting into trouble with them, are you?”
</p><p> 
“No, no, no. It is the job, I mean.”
</p><p> 
“Make up your mind, Ratan; is it the people or the job that you are talking about?” 
</p><p> 
“I mean both.” I adjusted the cover over the child, who snuggled her head in my arm. Soumya drew the curtains close, plugged a mosquito mat machine in the switchboard, checked the doors and came round to my side of the bed. 
</p><p> 
“What about them?” she asked. Careful not to disturb the sleeping child, she sat at the head of the bed and held my hand. 
</p><p> 
“It is a corrupt business,” I said, looking into her eyes. She has a sharp nose set between thin lips and a wide forehead. She removed the hairclip and let her cropped hair fall on her shoulders. The nightgown concealed the curve of her figure, which she maintained well even after nine years of marriage and a child. I have difficulty maintaining my figure since Soumya pampers me with well-cooked tasty food. 
</p><p> 
“Will that get you into trouble?” she asked anxiously.
</p><p> 
“I don't think so. I just do document conversion work; I have nothing to do with the business aspect of it.”
</p><p> 
“Hmm. Are you sure?”
</p><p> 
I looked away and I know she knows what that means: I am not prepared to say more on the subject.
</p><p> 
“Do you have to go to the office tomorrow?” Tomorrow is Sunday. Owing to some ease in the work pressure, I need to attend for just half a day.
</p><p> 
“I will go after lunch.”
</p><p> 
“OK. Get some sleep now.”
</p><p> 
I squirmed and tossed for a while and finally fell into an uneasy sleep.
</p><p align="center"><strong>3</strong>
</p><p> 
The curtain on the window filtered the sunlight streaming into the room. I woke up to find Ratnavali still sleeping in a huddled fetal position. Soumya could be heard in the kitchen making tea. I finished the morning ablutions and went over to the balcony adjoining the bedroom to stretch my limbs. Soumya joined me with steaming tea cups.
</p><p> 	
The ground floor flat did not afford a view of the town; only the curving road round the community park where I took the family on weekends. People visit the park in the evenings, but during the day it is mostly empty, except for birds and dogs. Motorcyclists vroomed past the apartment block which Ratnavali loved to watch. She could not yet climb the balcony wall, so sometimes we left her there to enjoy watching through the railing the vehicles whizzing past. Her favorite was the motorbike which makes a roaring sound that she loves to imitate.
</p><p> 
Across the road and beyond the park could be seen the row houses, one of which the Boss occupies. It was in the park that I had met him two years ago. When he heard of my retrenchment by my former employer and the subsequent closure of the company I was working for, the man offered me a job in his firm and became the Boss for me. 
</p><p> 
Soumya handed me a cup and settled down in the two-seater sofa with another. We sipped tea and enjoyed a quiet time together; for once Ratnavali wakes up, Soumya is hardly to be seen – she is lost in the daily grind.
</p><p> 
“There is something that I must tell you,” she said quietly. The words drove iron into my heart. 
</p><p> 	
“Are you pregnant again?”
</p><p> 	
She shook her head. Before I could feel the relief, her reply set my heart aflutter again.
</p><p> 	
“It is from the bank.” 
</p><p> 	
“What does it say?” My voice was barely a whisper; it sounded hoarse even to me.
</p><p> 	
“It is a notice to pay up; otherwise, they threatened to sell the property.”
</p><p> 	
I know I defaulted on the payments. It was bound to happen. I felt a lump in my throat. I think I just sat there gazing into the void.
</p><p> 	
“Varun told me he can spare some money for us. We can repay him whenever we are comfortable.”	Varun is her brother who works in a construction company.
</p><p> 	
“Did you touch him for money?” I asked, not believing that she would do it without talking to me first.
</p><p> 	
“Of course not. He knows our situation, doesn’t he? He helped us get the loan from the bank.” Varun is a good guy all right; but to accept a monetary favor from him is something I am not prepared to do so.
</p><p> 	
An idea occurred to me. I regained my composure. “That is not necessary,” I told her. “Don’t worry. I have thought of a plan to keep the wolf at bay.”
</p><p> 	
Hearing sounds from the bedroom Soumya shot up from the chair and was beside the child in a trice. The day is begun for her.
</p><p> 	 
I spied a big rainbow-striped plastic ball near the compound wall. I bought one just like that for Ratnavali; maybe it fell down while she was playing. I lifted one leg over the railing and straddled it. Then I turned over and came down to the ground level with a light jump, picked up the ball and went back up again the same way. I set the ball rolling on the floor and began to get ready for the day. 
</p><p> 	
Soumya bathed and dressed the child in a pretty pink frock, and then took her to the balcony to feed. I could hear the two talking – the child in high-pitched tone often giggling and Soumya in a matching sing-song voice. I took a couple of snaps from my aim-and-shoot camera and played for a while with Ratnavali bouncing the colorful ball off her head to hear her giggles.
</p><p> 	
After lunch I went to the office. I did not see Suri there; only two others, Lata and Ramu, were present besides me. I waved at them and went over to my desk near the Boss’s cabin. I pulled out the documents from my desk drawer and started to type them out. 
</p><p> 	
Around five, when the sun’s rays beat down on the window panes in a slanting position, the Boss entered the office. I nodded and smiled at him. He flicked his wrist in a greeting and strode into his cabin. After a few minutes, when I fidgeted in the chair, hardly in a position to focus on the work, I took a deep breath and entered the cabin. I saw him seated near the window looking out into the street thoughtfully. The light from the window glinted off his spectacles, which are set below a large forehead. The gray-black hair is pushed back high on the head and concealed a couple of bald patches. The head seemed to rest heavily on the neck for it curled into folds to accommodate the weight. He filled the swing chair, his stubby hands resting on its arms and the balloon of his stomach left no room even for a mosquito to pass through.  
</p><p> 
He spun in the swivel chair to face me and raised his eyebrows questioningly. 
</p><p> 	
“Is it a good time to talk to you?” I asked, a little diffidently.
</p><p> 	
“Are you leaving me, Ratan?” His question sounded accusatory. 
</p><p> 	
I wish I was leaving this hell-hole for a better place. The fortunes in the market for document conversion varied unpredictably both for the employees and the employers. Some of my colleagues left to join other companies where they were digitizing books, in addition to documents. Some companies even started processing VISA papers for candidates wishing to go abroad. For the company, diversification was necessary to survive; and for me, better work and more income. It was rumored that the Boss too had plans for expansion, and to begin with he might start manpower outsourcing work, which showed much promise lately.
</p><p> 	
No such luck, I wanted to say, but instead I said: “No. I came to ask you if you could lend me some money.”
</p><p> 	 
“Oh. All right, how much do you want and how do you plan to repay?”
</p><p> 
It went easier than I had anticipated. I collected the cash and left. I felt my office bag gingerly; there is a slight bulge where I stowed the cash. 
</p><p> 
I met Suri on the street outside the office. He offered to drop me home. I declined out of politeness, but he insisted. I thought it was not safe to travel by the bus, as I usually did, with so much money in the bag; I agreed.
</p><p> 
The roar of the motorcycle brought Ratnavali running to the balcony. She saw me and squealed in delight.
</p><p> 
“Is that your daughter?”
</p><p> 
“Yes,” I said and added unnecessarily, “the jewel of my eye.”
</p><p> 
Suri grinned and parked his vehicle under the balcony. He caught the railing and hauled himself up, and then he grazed the child’s cheek tenderly with his palm. Even though she was wary of strangers, Ratnavali did not shrink from Suri; she saw us together and therefore regarded him as an ally, I think.
</p><p> 
“Come inside for a cup of tea,” I invited Suri.
</p><p> 
“No,” he grinned and waved it off. “I have a drinks party with some old friends. Would you like to join?”
</p><p> 
“Ah, no, thanks. I have some domestic chore to attend to.” As Suri started to drive off, I hollered at his back: “Thanks for the ride.”
</p><p align="center"><strong>4</strong> 
</p><p> 
A week went by in a dull monotony of office and home with little variation to delight or sadden. Then suddenly things started happening. The Boss got a front desk set up and asked Lata to handle the work there. Young men and women came either alone or with their parents or other elders in the family for taking counsel on the job prospects abroad in Information Technology. Within a month, Lata’s work had to be shared by Ramu, who like her spoke comparatively better English than others in the office. The telephone rang often and Lata and Ramu alternated in attending to the phone calls. The board hanging outside the office got an addition to ‘document processing’: it read, ‘and manpower outsourcing.’
</p><p>
My work shot up ten-fold. The candidates poured in; they ranged from youth fresh out of college to people having some work experience. They were engineers, graduates in computer science or even from other disciplines hoping their work experience will help them in overcoming their limitation in qualification. At any rate, they filled in the application and paid the processing fee. In addition to the document conversion work, I had to maintain a database of the profiles of all the candidates, their current status and the money they paid – and prepare a weekly report of the status in a spreadsheet.
</p><p> 
Rumors did the rounds: the Boss raked in the moolah according to the grapevine. 
</p><p> 
“The money is pouring in like a flood,” remarked Ramu in the lunch break. Suri collected the money at the end of each day and deposited it in the bank.
</p><p> 
“My arm is paining,” Lata complained, “so many calls in a day.”
</p><p> 
Ramu asked me, “What is the score?” 
</p><p> 
“One hundred and three,” I said, remembering the last serial number in the spreadsheet that I maintained.
</p><p> 
Ramu whistled. “That is quite a figure in just one month. Triple that number and figure how many we handle in a day.”
</p><p> 
“But we haven’t been able to send any one abroad yet, have we?” Lata wanted to know.
</p><p> 
I shook my head. The status of processed applications in the spreadsheet remained blank.
</p><p> 
“The candidates are already getting restless,” Lata observed mournfully. “Half the people I speak to now are the ones who already paid up and want to know when their papers will be ready.”
</p><p> 
“Where is Suri?” I asked. He would be able to tell us more: he has inside information.
“He is on leave.” Lata answered still nursing her arm, even as she ate from her lunch pail.
</p><p> 
A little later I saw Mr. Venkat Rao limp into the office. He wore a bandage on his left arm and in his right he held his briefcase close to his chest. 
</p><p> 
“Mr. Rao,” I called and followed him. He offered a weak smile and gave a frightened look. “What’s the matter, Mr. Rao? Did you meet with an accident?” I asked, looking at the sling on his shoulder.
</p><p> 
Mr. Rao nodded and said, “Yes, I broke my arm. Is the Boss in there?”
</p><p> 
“Yes, yes. You can go right in. It is the lunch time. Is there anything I can do?”
</p><p> 
“No. Thanks.” He pushed the door of the Boss’s cabin and let himself in without knocking. I went back to lunch and then work, and forgot all about Mr. Rao until I met Suri in the evening.
</p><p> 
“I thought you were on leave today,” I said to him as I smoked his cigarette in the street corner.
</p><p> 
“Oh, yeah,” he said and grinned. “I just came over to talk to the Boss regarding something.”
</p><p> 
“I saw Mr Venkat Rao today,” I said: I saw his eyes twinkle. “He looked real bad – like he had been mauled by a lion.”
</p><p> 
“Oh. Really!” His tone betrayed a trace of exultation. A ring of smoke escaped from his beady mouth. “He came to make the payment I believe.” His right fist closed and then opened a couple of times as though they needed a massage. Finishing his cigarette, he dropped the butt on the sidewalk and ground it under his shoe.
</p><p> 
“I'd better go now.” Suddenly I felt uncomfortable in his presence. “Soumya wanted me to get something from the market.”
</p><p> 
I purchased some vegetables from the market on my way home. When Soumya opened the door of the house I found it eerily quiet in there.
</p><p> 
“Where is Ratnavali?” I asked. Stepping into the hall I dropped my bag on the sofa and started removing the shoes.
</p><p> 
“She is sleeping.” She picked up the bag and went inside to hang it on a hook on the wall. All important and delicate stuff had to be kept out of reach of the little one.
</p><p> 
“Oh. It is only eight.” 
</p><p> 
I saw her little frail figure huddled under the cover. “My bundle of joy,” I whispered to myself and drew the hair back from her face to see her clearly. 
</p><p> 
Soumya tiptoed into the room and tapped me on the shoulder. The dinner is ready: she waited until I returned home, no matter what time of the night it was.
</p><p align="center"><strong>5</strong>
</p><p> 
One day the sight of a crowd of noisy youngsters greeted me when I reached the office. They were all over the place - walking into and out of the office, talking to Ramu and Lata, chatting with one another, standing in corners or sitting on the stairs. The office space could accommodate with difficulty not more than a half-dozen visitors at any given time. The young men and women who waited outside to talk to the Boss seemed like a deluge. If all of them managed to barge in at once, they are sure to leave a wreck behind – the wooden partitions are no obstacle to a surging crowd. 
</p><p> 
The Boss was not available and they became impatient with each passing minute. Just then Suri arrived on his motorcycle and they quickly surrounded him. I could see only their backs as they gheraoed Suri and questioned him on the whereabouts of the Boss and the delay in processing their VISA papers.
</p><p> 	
I pushed my way through to my desk and settled down to work. The ‘score’ climbed to two hundred, but the status column continued to show blank. I figured if all the candidates showed up at once there would be a riot. I could hear the telephone on the Boss’s desk ring continually, but the voices of the restless youth drowned every other sound in the office.	The Boss is not in town, I heard Lata informing a young man; he is in Delhi for an important meeting with a staff member of the US Consulate, she said. He is not expected to return before the weekend. Ramu and Lata repeated this piece of information over and over again to every one who came to enquire.
</p><p> 	
After about an hour the voices died down, the young men and women left and the atmosphere in the office became strangely heavy and unsettling. The silence that followed seemed oppressive. I left my desk and stepped out. A few youngsters still loitered near the office. I saw Suri standing in the usual corner puffing away on a Gold Flake. I purchased a couple of cigarettes at a corner shack and joined him.
</p><p> 	
He grinned at me and slouched against a light pole. I popped a cigarette into my mouth and asked him for a match. He took one last puff and threw the butt away before taking out the matchbox. I took it and offered him the other cigarette in my hand. He took it. We lit our cigarettes and watched the smoke curl and rise unsteadily.
</p><p> 	
“I think they are getting impatient,” I commented, pointing at the stragglers who have still not made up their mind to leave.
</p><p> 	
“I told the Boss this was going to become messy, but he wouldn’t hear of it.”
</p><p> 	
“This processing, it takes time, doesn't it?”
</p><p> 	
“It is a lengthy process. The papers are lying at the consulate office, but who cares. They have them by the thousands from all over the country.”
</p><p> 	
“Some of them want their money back.” I had heard a bunch of candidates demanding the return of their money. 
</p><p> 	
“Where is the money to give?” Suri said tartly, showing yellow teeth as his lips drew back in anger and disgust.
</p><p> 	
“What do you mean? Has it all been paid for processing?”
</p><p> 	
Suri looked at me as though I was a dimwit. He pulled at the cigarette and blew the smoke out with some force.
</p><p> 	
“Only a fraction of what we got went into processing,” he explained. “The rest went into the stock market.”
</p><p> 	
“I think we have real mess here then.” I said dryly.
</p><p> 	
“There are at least a dozen fellows who are demanding immediate repayment. And the Boss says he has cash just for four.”
</p><p> 	
I remained silent. I took two quick pulls from the cigarette and felt a strange turning in the stomach.
</p><p> 	
“He is out today to borrow what he can.”
</p><p> 	
“You mean he is in town?” I asked incredulously.	
</p><p> 	
“Of course he is here. He will be out of office until he has sufficient money to return.”
</p><p> 	
Again the turning sensation. 
</p><p> 	
“You borrowed some money from him, didn't you?” He said matter-of-factly. 
</p><p> 
Here it comes, I thought, and the sensation became acute. I nodded and looked away. 
</p><p> 
“The Boss wants it back.” 
</p><p> 
As the words fell on my ears, my heart sank. I must have stood there in silent desperation, oblivious to the surroundings. I became aware only when the cigarette burned down the butt and scalded my finger. Suri had left me on that bleary sidewalk. The only object of focus in that desiccated bleak surroundings was the butt of the cigarette I had offered him: it lay flattened on the cobblestone with its stuffing crushed out. 
</p><p> 
Soumya regarded me with a mixture of concern and curiosity when she opened the door to let me in. I handed her the office bag and walked into the bedroom without saying a word.
</p><p> 
“What's the matter?” she whispered behind my back. She followed me silently into the room: Ratnavali slept on the bed so peacefully that I almost envied her innocent carefree life.
</p><p> 
I went into the balcony and slumped into the chair, looking vacantly into the sky for inspiration.
</p><p> 
Soumya went into the kitchen and returned with a cup of tea. She sat in the sofa and waited.
</p><p> 
I looked at the Boss’s house across the street and shuddered. 
</p><p> 
“It is going from bad to worse. I must look for another job.”
</p><p> 
“Have they stopped the salary?”
</p><p> 
“No. But they might. It doesn’t look too good to me.”
</p><p> 
“Shall I ask Varun to help you find a job in the construction company?” I turned my head from her and looked away. “As a stop-gap arrangement until you find a good one,” she added.
</p><p> 
I shook my head. I didn’t want to become obliged to family members, especially to members from the other side.
</p><p> 
“Don't worry,” I told her. “I will find something myself.” I didn't sound convincing and both of us knew it.
</p><p align="center"><strong>6</strong> 
</p><p> 
I spent the next few days in vain, desperately looking for a job. The job situation had become worse with many companies closing down or throwing out the employees as the orders dwindled rapidly. 
</p><p> 
The Boss still eluded the candidates, who threatened to press charges against him. They came in droves almost every day and a bond began to appear among them out of mutual misfortune. They became more vociferous as they found new strength in coming together.
Suri had once again told me that the Boss wanted me to repay quickly before he too disappeared. 
</p><p> 
The work trickled down for me to a couple of documents in a day. A couple of employees left and the few of us who remained gossiped most of the time.
One afternoon out of sheer boredom I left the office and returned home. I rang the bell and Soumya opened the door, and then rushed into the kitchen. 
</p><p> 
“What is the rush for?” I asked.
</p><p> 
“The curry,” she shouted from the kitchen. “It is on the stove. I need to put the finishing touches to it.” 
</p><p> 
I left the office bag on the sofa and went into the bedroom. Ratnavali was not on the bed. A little curious now, I looked in the balcony. She was not there either. A little perturbed now, I went into the kitchen and looked around.
</p><p> 
“Are you looking for Ratnavali?” Soumya asked, still bent over the vessel on the stove.
</p><p> 
“Is she in the bathroom?” I asked and moved towards it.
</p><p> 
“No,” she answered. “I left her in the balcony. She wanted to watch the vehicles.”
</p><p> 
I returned from the bathroom and looked at her in horror. “She is not there.” I felt my legs go weak and beads of cold sweat ran down my temples.
</p><p> 
Soumya switched off the stove and ran to the balcony. Then she went everywhere in the house but there was no sign of the little one. She began to cry. I opened the door and ran out to look near the compound wall and then looked up: the child couldn’t climb over the railing. I hauled myself up over it and re-entered the house and looked everywhere again; fear gripped my heart as the search proved futile.
</p><p> 
The neighbors ran out to look as Soumya knocked on their doors. Someone suggested calling the police.
</p><p> 
A burly inspector with two assistants came over to record the complaint. They took the child’s description, a recent photograph and a statement from Soumya about her day’s activities and where she had last seen Ratnavali.
</p><p> 
It transpired that between the time that Soumya left her and I came home a good hour had passed. Something happened in the meantime that left the home bereft of my little darling.
</p><p> 
The policeman stood in the balcony and surveyed the area in earnest. 
</p><p> 
“Were you expecting any one?” He asked me.
</p><p> 
I shook my head. “No.”
</p><p> 
“Why did you return early today?”
</p><p> 
“There was not much work to do in the office.”
</p><p> 
“Where do you work?”
</p><p> 
I told him.
</p><p> 
“How long have you been working there?”
</p><p> 
“A little over a year now”
</p><p> 
As the policeman questioned me, I could hear Soumya crying her heart out among the ladies in the apartment block.
“We have a complaint against your boss for defrauding a bunch of youngsters.”
</p><p> 
I remained silent. Who cares? I want my child back.
</p><p> 
“Do you know where he is?” 
</p><p> 
I shook my head. “Are you investigating him or the missing child?”
</p><p> 
The policeman stood tall and heavy in his uniform. He was a big man by all counts, but his voice was soft, even avuncular.
</p><p> 
“Do you think he could have anything to do with this missing?”
</p><p> 
That question unleashed a flood of pointers in my mind and raised the needle of suspicion against the Boss. Contrary to his dense appearance, this cop had a lot more than just a portly frame. With a new respect for the man and a hope for my missing daughter, I decided to tell him everything I knew about the Boss and the company. 
</p><p> 
As I began to speak, the burly inspector made himself comfortable in the sofa. He wedged his baton between his chin and his lap and listened to my expose with rapt attention.
</p><p> 
When I concluded my narrative, he got up and left. He told me before leaving that he hoped to crack the case of my missing child before midnight.	
</p><p> 
Soumya and I spent the afternoon in hurting silence; tears flooded our eyes and phlegm clogged our throats making speech impossible.
</p><p> 
I wanted to run in the streets and holler for my child. I couldn’t just sit and cry. Images of the little wonder flashed across my eyes and I got up and went over to the balcony.
</p><p> 
The Boos's house seemed alive with policemen swarming all over the place. I saw the portly Inspector walk towards the apartment. I jumped from the balcony and rushed to meet him half-way.
</p><p> 
“You will hear from me very soon, Mr. Ratan.” He said, and placed his arm on my shoulder in an affectionate way. “I have some urgent matter to attend to in my office.” 
</p><p> 
He left me with nothing to hold on to. I returned to my flat and slumped beside Soumya, who shook uncontrollably with sobs. She reproached herself for leaving the child unattended.
</p><p> 
“It is okay, Soumya. You were working in the kitchen and you couldn’t watch over the child as well.”
</p><p> 
“She wanted to watch the vehicles ... and ... insisted I leave her there.” Sobs broke out as she spoke. I tried to play down her role in the matter, but she seemed beyond comfort.
</p><p> 
I leaped when I heard a knock on the door. The inspector walked into the room with Ratnavali in his arms. “Soumya,” I shouted in excitement. 
</p><p> 
Soumya rushed into the hall and ran towards the cop in a great sense of urgency and relief. 
</p><p> 
“My darling! My darling!” Somya hugged Ratnavali to her bosom and planted a thousand kisses on the child’s face.
</p><p> 
I looked at the inspector and my nerves froze. His eyes were unsmiling and his stance was not that of a cop who cracked a case.
</p><p> 
“Ratnavali,” cried Sowmya – a note of alarm crept into her voice confirming my worst fears. “Why doesn’t she open her eyes? Why is she so cold?”
</p><p> 
“Suri,” I said in a hoarse whisper. 
</p><p> 
The inspector nodded. “The Boss wanted the child held up until you paid his dues. During the getaway, Suri’s great paw had covered her face to keep her from crying, as he drove away on his motorbike.” 
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    