{% include "header.html" %}
<nav>
    <a href="/stories">Stories</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>The Deal</h3>
    <div>
        <p>
Who is this man who comes to share my meager space, my loneliness and my silence? The man seems to ooze good breeding from every pore of his well-built figure. From the way he walks and looks about him, he appears educated too. He is certainly not my class. 
</p><p> 
I got accustomed to the stale air here, the faint reflected light from the outside and the narrowness of this confined space. It is not much different from my tin shack in the filthy over-crowded street on the fringes of an upper class residential colony, and so I got used to it in no time. In fact I feel at home here. I no longer have to work nor worry about the next meal; here it comes unasked and at regular intervals and the rest of the time I am left to myself. No one bothers to talk to me and that is fine with me. I hear from time to time noises outside, of men shouting and women wailing and a lot of noise from banging iron doors, scraping chairs and shuffling feet. But all that is out there, and in here it is quiet. Into this tower of solitude comes this man to encroach into my space, to be my unwelcome guest, and to break the quietude. 
</p><p> 
In the night when the noises have almost died, when there is little movement of air, when the lights have further dimmed, and I was lost in a pleasant reverie, the sudden clanging of the iron door startled me. I looked up and found this man step into my space with heavy feet, his wheatish face dark with shame and guilt. The door clanged shut, leaving him to fend for himself. Now he rubs his eyes perhaps to see better; more likely, he suspects it is a nightmare and wants to shake it off. 
</p><p> 
He gropes his way to a corner close to the door and feels the bare wall with his hands. He turns and leans against the granite wall and slowly slides down to the floor. He hitches his black terrycotton trouser and rolls up his full-sleeved lime-coloured shirt as he pulls his knees up and close to his chest, circles his arms around his legs and drops his head to rest. Perhaps he is brooding over his Karma. From the darkened corner of the cell I could see the polish on his black shoes gleam faintly in the thin streak of light beyond the door.
</p><p> 
Obviously he is not accustomed to confined spaces, unlike me who has been in and out of such places all my life. He probably thinks he is alone in here; or, more likely he abhors the thought of sharing a cell with a criminal and prefers not to notice my presence. I want to leave him alone and continue my fantasy on the stone bench. But I cannot, my stream of thought is broken, rather rudely I must say, my solitude is sullied, my privacy invaded. I feel annoyed, feel an urge to ask him to leave, to go back to his posh locality, to his salubrious home, to his sophisticated family life, to his buxom wife and bright healthy children. Just get out, I want to say, leave me alone, for this is where I belong, this ill-lit cramped space is my home and I don't want to share it with any one, certainly not with an educated bourgeois.
</p><p> 
I sit up on the bench, tuck my legs under me and pull a frazzled shawl round my stooping shoulders. I feel a light chill so I cover myself completely, except my face which is in any case covered over by a flowing beard and crowned with a shock of hair enough to frighten children. The man draws himself closer and leans forward so as to detach himself from the cold stone wall.
</p><p> 
"What brings you here, Sir?" I ask in a slow drawl, so as not to startle him.
</p><p> 
He cringes a little and looks up in the general direction of the sound of my voice. His clean shaven face is smooth; the hair is combed and parted to the right, his stare is off-center at first, but slowly his eyes adjust and find mine in the corner. He studies me for a moment and appears to relax a bit. Perhaps I don't inspire fear any more. Age diminishes everything, body, mind and soul, even the will to go on as one has done in the past.
</p><p> 
"Who are you?" His upper class voice seemed a shade authoritative; it seemed to say, 'what business is it of yours!' If he had said it, it would have sounded surly, the insolence of his class.
</p><p> 
"Does it matter? We are now cell mates, aren't we?" I countered. I didn't mean to belittle him, but somehow I couldn't keep the sting out of my voice.
</p><p> 
I saw him wince a little and look away. He stretched his legs and leaned back on the wall. He crossed his arms on his chest and seemed to assume a position of self-control, discarding the aspect of a penitant man a moment ago. 
</p><p>
"That may mean we are on the same boat now, but not on the same level." His voice lost the insolent edge; although he reminded me of my place in the society, he seemed not to mind my company. Considering my position on the bench compared to his on the floor, it sounded odd that he should mention levels. I resisted an urge to laugh out loud, for he seemed composed, even communicative. "Who are you?" He asked me again.
</p><p> 
"I am your house painter," I answered. He looked at me closely studying my face which is mostly buried under a bush-like growth of hair. "I am your ragpicker, your coolie, your car cleaner, your office boy, I am your servant." He looked at me puzzled and probably wondered if I was not somehow trying to be funny or hurt him more. 
</p><p> 
He watched me silently, without blinking. I went on in a low conspiratorial voice. As if I was saying out loud what we both knew was an open secret.
</p><p> 
"And you are my master, my employer, the officer, the big man, the rich and the powerful, the educated and the ruler." 
</p><p> 
He pursed his lips and his nostrils flared a bit. As the idea of my harangue dawned on him, he got up, dusted his trousers, out of habit I guess, then sauntered over to the bench and flopped down beside me.
</p><p> 
"Alright," he said and his eyes batted a couple of times in a friendly way. "What do you want to know?"
</p><p> 
"Why are you here?" He watched my beard bob up and down as I spoke. People found my shaggy jaws more interesting than my hollow eyes or parched lips.
</p><p> 
He seemed to consider my question for a while, for he looked around the cell, pushing his mouth out contemplatively, then inhaled deeply and sighed.
</p><p> 
"I wanted to go to prison." The tone seemed to me to suggest the curiosity of an explorer.
</p><p> 
"Oh, and do what? You wanted to study the inmates? Perhaps write a book or appear in TV talk shows about prison life and become famous?"
</p><p> 
"I am not here to study anyone or anything. I was caught in an unlawful act." He said it simply, almost casually, as though he were sharing news.
</p><p> 
"You are here as a criminal then?" I found it odd that a highbrow should walk into a prison. Were the lawyers on strike? 
</p><p> 
"I am not a criminal." The response was instantaneous and automatic. Surely crime and upper class don't go together. A clever lawyer could argue away your offence, citing innumerable instances and if everything failed make an appeal on the grounds of a temporary attack of insanity owing to mental pressure from circumstances. Money and class would shield the likes of him from facing the consequences of his actions - and the lawyers work hard to make it happen.
</p><p> 
"You mean there has been a mistake?"
</p><p> 
"No. I yielded to a temptation, which is not the same thing as commiting a crime. Does one insane impulsive act of indiscretion tag you as a criminal?"
</p><p> 
"Ah! Education. That is what I lack. It allows you to ask clever questions. Why don't you let a lawyer argue for you? You could spare yourself the ignominy of being behind the bars." He looked away. I shrugged and continued. "I know only this - if you have done a wrong, then you are a wrong doer and if you can't get away with it, you will be put away for a while."
</p><p> 
"But I have wronged only once."
</p><p> 
Like a little boy he is persistent. I have no intention to turn my cell into a court of law. I neither have the erudition nor the inclination for a verbal duel. I think I am a man of action. And I believe a man's life is according to his actions. 
</p><p> 
"You don't have a lawyer or somebody to bail you out?"
</p><p> 
"I refused bail. I came here to do penance."
</p><p> 
"Oh, you seek divine forgiveness then? You want to pray so that God will absolve you of your crime." Since when is God meddling in human affairs? He wouldn't let the likes of me rot like this if he did, I am sure of that.
</p><p> 
He raised his eyebrows questioningly or was it surprisingly, I couldn't be sure. Again that meditative aura about him as if he was debating something profound with himself.
</p><p> 
"You wouldn't understand, I am afraid, what it means to a fellow like me to be caught redhanded like..." he paused, unable to finish, letting his words hang as if he couldn't bring himself to utter them, at any rate not in my presence.
</p><p> 
"...to be caught redhanded like riffraff, someone like me?" I prompted. He sighed again but did not contradict me.
</p><p> 
"I am not a regular thief, you know," he began defensively.
</p><p> </p><p> 
"You mean you are not an ordinary criminal. Look, why beat around the bush? You broke the law and you are paying the price for it. Why don't you just accept it and leave it there? You seem to want to distance yourself from the act somehow." To me the man and his actions are inseparable. I find his talk facile and defenseless. I think that it is of no use and is conducted merely to take his mind off the consequences, the things he has to face once he is out of here, when he returns to his family and friends and his profession, whatever that is. What he said next surprised me.
</p><p> 
"I wanted to understand in solitude what had driven me to act the way I did."
</p><p> 
I see him now in a different light. He spoke evenly, in a measured tone that sounded dead serious. He did something which he now repents, but he also wants to know why he did what he did. He is questioning I believe the motive behind his act and contrary to my hasty supposition he was not trying to play it down or seek justice of any kind, divine or human.
</p><p> 
I work to live and thinking is not part of it. When I want something I can't have except by force or subterfuge or stealth, I take it by all means and if I am caught then I am out of  action for a while. I frequented the cell so often that I spent almost an equal amount of time in and out of it. I don't think; I just act. I feel driven and don't think about it.
</p><p> 
"You can't fight your Karma. Don't you see? For all the education you have had you don't see the simple factor of destiny in your life?" 
</p><p> 
Did I choose to lead this wretched life? It is my Karma, and not for a moment do I believe it could have been any other way.
</p><p> 
He shook his head and appeared to study his boots as he dangled his legs. Then he clicked his heels together and said, "It may be true what you say. But if there is no escape from it then what is the point of education?"
</p><p> 
"Education did not prevent you from crossing the line in the first place. Obviously there is no way out of it. After all, you are here today sharing this rat-infested cubicle with a man who always lived on the wrong side of the law."
</p><p> 
He looked uncomfortable, perhaps uncertain as well. He got up and began to pace up and down, like a hungry lion. He sunk his hands deep in his pockets and kept his head down, the ghost of a double chin almost touching his broad chest.
</p><p> 
He turned to me and asked: "What did you do to earn this hospitality of the law?"
</p><p> 
"I told you. I am a regular offender. This is my second home." 
</p><p> 
He nodded and continued to pace. Then he asked, "Don't you think in terms of right and wrong?"
</p><p> 
I shook my head. "I can't think beyond the immediate. What is there to think about anyway? I am destined to be what I am. Karma drives me to action. It is a force greater than anything you can imagine."
</p><p> 
He stopped before me and looking into my eyes asked, "Can you think back to that time, the first time you did something wrong?" 
</p><p> 
I remember vaguely; it has been such a long time ago. No one ever asked me about my younger days leave alone my childhood. So many years passed like so much water down the drain. I never thought about it either; the past simply did not have a place in my life. Memories don't bother me. Brooding over the past and dreaming of a wonderful future is a feminine activity. 
</p><p> 
He waited for me to respond.
</p><p> 
"I think I was about ten when I stole some money from a house where my mother was working as a maid. The master used to hang his trousers on a wall hook. He caught me as I removed a couple of notes from his wallet and thrashed me. My widowed mother begged him to forgive a minor's misdemeanor, but she lost her job."
</p><p> 
"How did she take it?"
</p><p> 
"She found another house in a different locality. She couldn't punish me, for I had been at it for some time and she knew it. The extra money was keeping my two baby sisters from starving. As we grew older we needed even more money and not being able to make enough from work, I began to rob and soon it became second nature to me. I am sure you have come across people like me, haven't you? "
</p><p> 
"Oh, yes. I have. Sure."
</p><p> 
"Poverty is the greatest affliction of people my class. I can handle any ailment of the body, but lack of basic necessities drives me to distraction."
</p><p> 
"Not every poor man is a thief."
</p><p> 
"True, I know some people who don't, but it is just not in their nature to grab what is not theirs, I suppose. I am made like this, that is what I call Karma. You can't be anything other than what you are destined to be."
</p><p> 
He walked to the end of the cell and leaned against the wall.
</p><p> 
"Maybe because money was in easy reach that you thought of stealing it."
</p><p> 
"Maybe. Or, maybe I would have found other means to grab it since I was badly in need of it."
</p><p> 
"Would you still do it if there was no pressing need?"
</p><p> 
"Would you?" I countered. 
</p><p> 
He considered my question in his usual manner of a pout and a faraway look. "I think I am a creature of habit. Remember what you said about Karma? A powerful force? I think that is what habit is, a force that makes you do things mechanically, you don't think about it, you do it unconsciously, you are not even aware that you are doing it, until you have done it."
</p><p> 
"You can kick a habit perhaps. Look, I'm a smoker. It is a habit with me. But when I am cooped up in here, I can't smoke, and though it troubles me now and then, I manage without it."
</p><p> 
"It is the habits and the choices that you make define who you are." 
</p><p> 
I wonder why he is so obstinate about his pet theories of free will and all that nonsense of the literate. I happened to overhear a similar argument from a person at a discourse given by a Swamiji in a large open-air auditorium where I relieved the man of his wallet during a closed-eye prayer ceremony later.  
</p><p> 
"It is Karma that directs your actions, forms your habits,makes you choose and shapes your character. It is above and greater than man, machine or beast. You can't dodge it. It governs your whole life. It makes you who you are. All your actions arise from it. Karma is action." I quoted fragments from the Swamiji's discourse.
</p><p> 
He licked his lips and looked around the 12 by 8 room, his eyes roaming around the bare stone walls and the sleazy corners. He went over to the water pot and poured himself a glass, which he then carried to the iron grill door and looked at the water against the faint shaft of light.
</p><p> 
"You can't get clean mineral water here. But who knows, if you holler for it the duty cop might fetch it for you. He will fleece you though, rest assured."
</p><p> 
The water must have passed his inspection, for he downed it in a couple of gulps. 
</p><p> 
"That water is two days old," I told him and saw a pained expression on his face. "It is alright," I assured him, "no harm will come from drinking that water. I drink it sparingly, to avoid going to the loo."
</p><p> 
"Do you want some?" He asked. I shook my head. 
</p><p> 
Water is the only great leveller, I thought, without a second. I see now that misery too could level social distinctions.
</p><p> 
He replaced the glass upside down on the pothead and joined me on the bench.
</p><p> 
"Tell me about yourself. When did you first break the law. I know that everyone does one way or the other long before it becomes public."
</p><p> 
He looked up at the low ceiling and remained silent for some time. Then he spoke slowly and guardedly as though he had difficulty sharing his life with a commoner.
</p><p> 
"While at school I stole money from my father's wallet." He paused to look at me. I held back my reaction, not wishing to interrupt him. "Not often, though," he went on, "just occasionally when my classmates asked me to join them for playing computer games at a local entertainment parlour."
</p><p> 
"Aha." I couldn't resist passing a remark. "So it starts early then for everyone no matter where you belong in the class hierarchy." I feel a strange kinship with this man with whom I share something common despite our uncommon upbringing.
</p><p> 
He crossed his legs and swayed gently - to and fro, back and forth - he seemed to agree not just with his head but with his whole being. "As I grew up into adolescence, I began to feel the weight of it, the burden of dishonesty." As he spoke of it he seemed to loosen up. "It rankled like the pimples on my face that I wanted to get rid of. The blots appeared to dominate the face and I don't know why but somehow I connected them to my immorality."
</p><p> 
It occurs to me that I never felt guilty of committing robbery. (I dislike the word commit, as it has the connotation of a sinful act). I looked at it as a challenge, something that required careful planning and executed with skill. All my snitches were really conquests, the bolder were the more satisfying.
</p><p> 
"My mother is simple and god-fearing," he says, "and always spoke of honesty as if it were the very breath of life."
</p><p> 
I remember once I planned a heist with my comrades. For an operation that involved breaking into an office, home or an establishment, I organize a small group of trusted men to pull it off.
</p><p> 
"Once I went a thousand kilometers to steal gold ornaments from a temple." I told him. "It remains my boldest venture to date."
</p><p> 
"You don't think of sin and damnation?" He asked, a little hesitantly. 
</p><p> 
"Not on a hungry stomach. Isn't it somewhat old-fashioned to talk about it? Anyways, tell me, is everyone who goes to a temple to pray a virtuous person?"
</p><p> 
He lifted his head heavenward and then all the way back, stretching back lazily. I huddled closer into my shawl, wrapping it tightly against my body so that it didn't touch his immaculate trousers.
</p><p> 
"I used to feel filthy afterwards," he said, still talking about his post-theft feelings.
</p><p> 
Filth is where I grew up, it is on my clothes, in my surroundings, in the very air I breathe. What is he talking about? Some brahminic ritual cleanliness? I remember my grandfather speaking of brahmins sprinkling water ahead of them as they walk the street, a ritual cleansing perhaps? 
</p><p> 
"Filth exists only in the shanties," I said. "Even the brahmins don't feel it any more. Did you desist because of these feelings?"
</p><p> 
He nodded his head, his hands interlocked and supporting the back of his head. He brooded for a while and then said, "I stopped that but soon started pinching cigarettes from my uncle."
</p><p> 
"Isn't it thrilling? I always feel a tingling pleasure when I am set on doing my secret act. You feel the muscles taut and rush of energy into the spine. There is a great satisfaction at the end of it, like when you have had an orgasm."
</p><p> 
"It was for the pleasure of smoking that I thieved and not for the act of stealing. After the smoke it felt like ashes in my mouth."
</p><p> 
I could see that he is troubled by guilt. I asked: "Do you read scriptures? The holy books?"
</p><p> 
The question surprised him. He looked flustered, but his voice was firm.
</p><p> 
"No. I never did. I always thought they were meant for the old, the priests and the self-styled bhagwans. I read books on business and marketing; books that I could not buy I lifted from the college library."
</p><p> 
"You went to college?" 
</p><p> 
"I studied business management and went on to set up my own business."
</p><p> 
Maybe he cheated in business. I almost killed my partner once when I caught him cheating out of my share of the spoils of a robbery.
</p><p> 
"What business?"
</p><p> 
"I retail electronic goods."
</p><p> 
"You mean mobile phones, computers..."
</p><p> 
"...and TVs, laptops and so on."
</p><p> 
I broke into a glass-fronted shop on Gandhi street and made away with two laptops. They fetched me a good price in the chor bazaar. But something happened then, a collateral loss, for which I am paying the price now.
</p><p> 
"You must be doing good business. There's a lot of money in it."
</p><p> 
"Sure. I am doing very well." His face clouded over. "Now I am not sure if it will continue."
</p><p> 
Politicians and highly placed officials are arraigned often for illegal activities and unlawful conduct. Why does this man worry so much? "Relocate, " I told him. "Move to another place and begin again, unless you want to spend the rest of your life doing penance."
</p><p> 
Age supercedes status, I guess, for I advised him gratuitously. It may even be uncalled for, given the fact that he is here to repent. At any rate, that is what I do after I pull off a heist, I never operate in the same locality twice.
</p><p> 
He ignored my advice and continued to dig into his past. I suppose he needs to unburden himself; he shrugged his shoulders as if to assess the weight of his guilt.
</p><p> 
"I think I am tempted easily. Things I like possess me and I yield to them thoughtlessly. Don't you feel the temptation?"
</p><p> 
"No. I don't know what that means. I know what I want, then I plan carefully and won't rest until I get it. That is how I operate."
</p><p> 
"I act on an impulse I think. I can't seem to think coherently when I am possessed by the thing I want to possess."
</p><p> 
I don't think I follow his line of reasoning. It seems abstruse and what's more beside the point. I said, "With so much remorse following your patently innocuous acts, I wonder how you ended up here."
</p><p> 
"I think every little act adds up. Once I sat on a marble topped concrete bench in the courtyard of a big shopping mall. I was resting after a long run through the shops when I suddenly became aware of a package, a shopper's bag, lying within reach of my hand. I looked around but found no one near it. I scanned through the glassed windows of every shop in the vicinity. Not a soul was looking in the direction of the bag; it just lay there, tantalizingly close to me, promising hidden treasures, with the owner nowhere in sight. My hand trembled and my heart raced. I looked from the bag to the shop fronts and back again, unable to muster the courage to take it. Just pick it up and walk away, a voice said inside my head. Do it, it commanded. But I resisted the impulse and walked away." He smacked his lips and stopped.
</p><p> 
"I am glad you didn't pick it up. It could have been a bomb, who knows."
</p><p> 
"True. I don't know why but that possibility never occured to my feverish mind. I really don't know what turned me away, though it took a long time for me to get over that lost opportunity."
</p><p> 
"I fully agree with you there. A moment's hesitation could mean a lost opportunity."
</p><p> 
He began to pace again, for the chill from outside began to seep in and the hard stone enclosure soaked it up like a sponge. I pushed the ends of my shawl underneath my skinny bottom.
</p><p> 
"You know you are making mountains out of mole hills. Why do you fret so much over these minor misdemeanors?"
</p><p> 
He rubbed his hands and touched his cheeks, drawing warmth from friction. He walked up and down the cell more vigorously than before, and all the while I am sure he composed his thoughts.
</p><p> 
"Once I noticed that the billing clerk of a shop missed one item and let it go with the others. I opened my mouth and then closed it shut almost immediately. At the exit, a guard inspected the items purchased and spent a moment checking the against the bill, a moment that seemed to me like an eternity in which I trembled inwardly. Silly, I told myself later. If I was caught I could say it was the clerk's mistake. But inside," he tapped his temples, "I dreaded holding a secret."
</p><p> 
"You are too complex for me to figure out." I am at my wit's end: I thought it best to let him talk. 
</p><p> 
"You may be thinking that the loss of one item will not make the mall owner poor. But if everybody did that ..."
</p><p> 
"... then you would be a damn fool not to do it too."
</p><p> 
"I was going to say it would be quite a blow to his business. Why, the other day I drew some money from the bank and discovered that the bundle had an extra 1000 rupee note. Instead of returning it like an honest man, I pocketed it." 
</p><p>
"I was told that they use a machine to count the notes."
</p><p> 
"I think it was not working properly. The man had banged it twice to make it work."
</p><p> 
I rested my chin on my knees. I asked him, "What did you do now to get imprisoned? Surely it has got to be a crime! Not the hanky-panky things you have told me."
</p><p> 
He took a deep breath and stood before me. Hands in his trouser pockets, he looked squarely into my eyes.
</p><p> 
"I stole a plasma TV from a hotel room."
</p><p> 
"What!" I almost shouted incredulously, my head jerking up so hard that the shawl slipped from my shoulders. I stood up to stretch my limbs.
</p><p> 
He scrutinized my face as if he is looking at me for the first time. His eyes seem to have adjusted well now, for he no longer strained to look.
</p><p> 
"Why did you do it?" I asked him. "Could you not afford one?"
</p><p> 
"It is the same force that was at work again." He said in a voice that sounded remote. "The force that pushed me over the line time and again."
</p><p> 
I could sense some change in his tone. He spoke slowly as if his mind were elsewhere. He even went and leaned against the far wall and fixed his gaze on me. I feel uncomfortable, even a little annoyed at this sudden manner in which he kept his distance. Once again I feel the unfathomable gulf that separates two distinct classes of men.
</p><p> 
I bend to pick up the shawl that fell in a crescent shape on the bench, its worn out tassels hanging like the splayed fingers of a lizard.
</p><p> 
"You!" He shouted at me. The tone was harsh and angry, even accusatory. Still in bent position I shot him a sidelong glance wondering what on earth came over this man all of a sudden. Then I straightened up slowly even as my mind harked back a bit in an attempt to find a cause.
</p><p> 
"What's up? Have I offended you in any way?" I asked, somewhat bewildered at his transformation.
</p><p> 
"Have you operated on Gandhi street a few months back?"
</p><p> 
"Yes." I answered.
</p><p> 
"You stole two laptops from a shop." It was a statement, not a question. He detached himself from the wall and glowered at me.
</p><p> 
"How do you know that?" Even as I asked him I felt the answer trickle into my mind. My jaw dropped and in a kind of stupor I eased myself on to the bench again.
</p><p> 
"You killed my guard!" He hurled the words at me; clearly he was much agitated and shook with rage. "You murdered an innocent man for a few thousand rupees! What are you made of? Are you not human?" His lips trembled as he spat out the words, his fists closed tightly exposing the veins on the hands.
</p><p> 
"Fate! Cruel fate!" I cried and raised my hands helplessly heavenward. 
</p><p> 
"Fate? Enough of that nonsense. You act, but you don't take the responsibility for your own actions."
</p><p> 
"What do you say of your own actions? You robbed like a common thief." I can't stand this holier-than-thou attitude from this man. 
</p><p> 
"I know. It is a flaw in my character. I succumbed to its force willy nilly. But look at you! You killed a man and god knows how many more you have killed before. It is not just poverty but greed, indolence and indulgence, all that has pushed you over the edge. From a common thief you have grown into a murderer."  
</p><p> 
I look at him blankly. He is right of course. In recent years I am beginning to think too. Age has lessened the lust to rob and solitude has activated the brain to think. 
</p><p> 
"Call me a thief. That is what I am and have been all my active life. But I am not a murderer. I killed nobody." 
</p><p> 
"Liar! You can't get away with this one. I will do all I can to keep you in here for the rest of your wretched life."
</p><p> 
"Look, sir, I am a murder suspect, not a murderer. It is not the same thing. If you had not been caught stealng that TV, you would have been walking free on this earth like any respectable man."
</p><p> 
"Don't you dare compare me to your miserable self." His eyes flashed in anger and once again the spectre of class division loomed over us. "I admitted my guilt. Unlike you I did not progress from thievery to butchery."
</p><p> 
I surveyed him calmly from head to toe. Only moments ago he seemed such a reasonable man. Now he seems overcome with the force of superior breeding, of highbrow life.
</p><p> 
"I did not kill your man," I repeated slowly. "Nor did I kill anyone in my life. Killing is way beyond my league." I paused to let the fact sink through his indignation. "It was an accident that killed your guard. He was chasing me madly on the rooftop and couldn't see that we had reached the end of the parapet wall. I jumped aside and he went over it."
</p><p> 
I saw the glare in his eyes dim noticeably and once again his former self seemed to emerge. The taughtness in his body left him and he stepped back to slouch against the wall.
</p><p> 
"It is your word against the evidence under the circumstances." His voice sounded normal again and the camaraderie seemed to return to his eyes.
</p><p> 
"Would you like to lie down for a while?" I asked him. He looked haggard and I think some rest would do him good.
</p><p> 
He shook his head. "You go ahead if you want to." He said and slid to the floor and stretched his legs.
</p><p> 
I went over to the pot and drank some water. When I offered him a glass he declined politely. And so we sat for about an hour, each to his own thoughts, scarcely moving from our respective positions.
</p><p> 
Dawn broke through the massive iron door and chased away the putrid darkness, stirring the air in its path.
</p><p> 
I came to a decision.
</p><p> 
"I can help you walk away from all this. You can return to your life with honour and dignity as befits you."
</p><p> 
He seems to consider my proposition; his lips pushed forward thoughtfully. I think he found it intriguing; or, I detect a glimmer of hope in his eyes. 
</p><p> 
"What is in it for you?"
</p><p> 
"You withdraw the murder charge against me."
</p><p> 
He stretched his lips and remained silent. The light advanced rapidly and the noises from the world outside began to destroy the silence in the room.
</p><p> 
"You will save an innocent man. It will add to your good karma." I appealed to his universal self; the soul of a man transcends his petty self, the godman had said.
</p><p> 
Again the gleam in his eyes as he asked now in earnest curiosity, "What will you do?" his voice barely a whisper.
</p><p>
"You will tell them you do not know how the TV came into your bag. It is a frame-up, say that someone tried to trap you. After all, a businessman has many enemies."
</p><p> 
"They won't believe me. I have no enemies and I suspect nobody."
</p><p> 
"No. One person has a motive, a powerful motive to ruin you." I stood up facing him squarely.
</p><p> 
He looked up at me in a strange sort of way and got up too.
</p><p> 
"I am your man, your enemy, your nemesis. I had asked you to withdraw the murder rap and you had refused. So I schemed to ruin you and see, you are here now in prison, a fallen man, your reputation ruined, your respectability torned to shreds and you will have forever lost love and respect from your family, relatives and friends."
</p><p> 
He heard me open-mouthed. The door to freedom is open and he could walk with his head held high. He walked over to me and placed his hand on my shoulder. I saw the look of gratitude in his eyes.
</p><p> 
The sound of approaching boots broke us apart, followed by the clatter of a cane on the iron bars. 
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    