{% include "header.html" %}
<nav>
    <a href="/stories">Stories</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>The Curse</h3>
    <div>
        <p>
The bus turned noisily round a bend in the road and rattled along a canal that fed the farms, the hamlet and the livestock. I felt myself odd among the village folk. The men smoked beedis and the women kept up an endless chatter. I gathered that their lives were hard, even cruel since they spoke a lot about some disease which apparently became alarming in recent times.  
Streaks of grey and black scarred the intense orange glow in the west. 
</p><p>
A concrete column from a long triangular structure emitted smoke that hung like an umbrella over it before drifting westward with the wind. In the foreground brick-lined cylindrical holes in the earth gaped at the open sky. A checkered pattern of farms contrasted closer to the eye with an occasional palm tree and a pond full of weeds and lotus blooms.
</p><p>
I noticed that I got a fine coat of dust as the bus rolled into a square where a village fair was in progress. Here the bus discharged almost all its occupants. A man thrust a bottle of mineral water at me through the window. I raised my hand to take it when my eyes fell on a colored patch on his arm. I recoiled, but pretended not to have noticed it and gently fobbed off the vendor with a lame excuse. I don't need to buy water now, since the journey has ended and I would soon be home with Amit. 
</p><p>
    Several villagers greeted Amit as he drove me in his open Jeep to his medical camp situated on a knoll. A ramshackle government building served as the camp where he slept in the night and practiced by day. 
</p><p>
"I am glad you came." Amit smiled and his eyes gleamed in delight. "This is the first time I have ever had a companion during my medical practice outside the city."
</p><p>
A chance acquaintance in a coffee parlour some months ago, Amit struck me as odd and even a bit eccentric. Contrary to his profession, he drank and ate like a glutton. For about a month in a year Amit closed his clinic and went to a village to practice. He called it a 'combo tour' of study and vacation, away from the noise and pollution of the city. He also spoke of some moral responsibility the logic of which eluded me. 
</p><p>
I have never been in a doctor's clinic except for consultation. It was indeed a rare opportunity for me to watch Amit conduct his medical business, no, his free check up of patients in this village that took me about seven hours to reach. 
</p><p>
As the evening progressed, the patients came empty handed and returned with a prescription or some medicine. About an hour later the visitors stopped coming and Amit joined me in the veranda with a couple of beer bottles and a plate of roasted peanuts. 
</p><p>
"It is a hard job for you, isn't it?" I said. Amit nodded. 
</p><p>
"Why did you choose this village?"
</p><p>
"This village is under a curse," he said, echoing a local sentiment I overheard on the bus.
</p><p>
"Do you really believe that?" I asked, incredulous. 
</p><p>
Much to my amazement, he nodded. "Did you notice the patients? They are suffering from a disease that is bleaching their skin in patches." He popped a few peanuts into his mouth and began grinding them noisily.
</p><p>
"Is it contagious?" I remembered the vendor of mineral water. I couldn't keep the note of alarm out of my voice.
</p><p>
Amit shook his head. "Relax. Just don't drink the water here. This is all you need to drink as long as you stay here," he said, pointing at the beer. "There is no dearth of it," he assured me.
</p><p>
"What do you do for cooking?"
</p><p>
"Oh. There's a sump full of treated water. That will do for our water needs."
</p><p>
I am less inclined to continue this line of conversation. What am I doing here? All I wanted was a decent holiday and here I am, drinking beer where some weird disease stalks this accursed village. To top it all, I am holed up with a nerd I barely knew. He had sent me a letter or was it a prescription? A terse line of invitation scrawled on a prescription paper. And the image of an idyllic setting had floated before me.
</p><p>
He seemed to sense my mood, for he said: "You will have a wonderful time here, I am sure. Plus, you will get to see the countryside up close. You wanted to know about India's villages. That's what you told me the last time we met, remember, in that beer parlour."
</p><p>
I downed the beer for the better to conceal the wince on my face. I nodded and managed a weak smile. I resolved to return home the next day and spent the night turning over ways of excusing myself without offending my host. 
</p>
<p>
In the morning a young lady came to visit Amit. She left her sneakers in the veranda and entered the consultation room, closing the door behind her. She emerged after a few minutes and passed by in silence with scarcely a glance at me. 
On enquiry, Amit said she was a client. That is all I could get from him about her. And my curiosity grew. 
</p><p>
The lady returned again the next day and this time the duo was closeted for nearly a half hour. This was more than I could bear. And the curiosity got the better of my resolve to leave. 
</p><p>
One day on the pretext of a walk down the knoll I followed the woman discreetly. She stopped at a thatched hut and spoke something into it. Apparently someone responded, for she thrust a paper into the hut. I managed to see a man take the paper from her and bow in respect. She left without another word. 
I followed her on to the other end of the village. She made her way round the holes in the ground to the triangular structure with its concrete column. I frowned and returned to the camp. 
</p><p>
I heard Amit cooking in the kitchen, whistling a Bollywood tune.
After lunch we set out on a walk through the village. Men and women worked in the fields, caring for the crops and scaring the birds away. 
</p>
<p>
"Where are the children of the village?"
</p><p>
"You will find them in the tannery." He waved his hand toward the place where the lady had disappeared. 
</p><p>
"Are we going there now?"
</p><p>
Amit shook his head. "No place to be in for a tourist." He dismissed the idea with a shake of his palm. "We will go down the stream."
</p><p>
I looked once at the umbrella of smoke in the distance and followed Amit into the soft sand by the stream. We sat on a rock outcrop and watched the water flow by. A breeze stirred the leaves of a palm tree. It was quiet, save for the occasional shout from the farmers. I felt relaxed and gave myself up to the pleasant sensation. 
</p><p>
Back in the camp, after the evening consultations, we sat on the veranda beer in hand. The quietness followed us; even the croaking of frogs and the distant cry of an infant did not disturb the silence. 
</p><p>
A car drove up the knoll, its headlamps lighting up the camp. I looked inquiringly at Amit. He shrugged and took a swig from his bottle. Two men alighted and walked purposefully towards the camp. One wore pajamas while the other was dressed in trousers and a full-sleeved shirt. 
</p><p>
"Doctor babu, stop entertaining Sneha's foolish notions," the burly man in pajamas said, accosting Amit in the veranda. 
</p><p>
Amit went inside and returned with a bottle of beer. "Have a drink Mr. Vohra," he said, and offered the bottle. 
</p><p>
The man waved him away and said, "I have not come here to exchange pleasantries. I want you to stop it at once. I insist."
</p><p>
Amit remained unfazed as he said, "I can't refuse a client."
</p><p>
"She is not your client," retorted the man in trousers. 
</p><p>
Amit looked coldly at him. He turned to Mr. Vohra and said, "I have not asked her to come to me."
</p><p>
"Look here doctor. This is highly irregular. You must stop it. If you don't I am afraid I will have to adopt harsher means to stop you." With that Mr. Vohra stormed out of the veranda. 
</p><p>
His follower sneered and pointed an index finger at Amit as much as to say: take care, or else. 
</p><p>
After the men left silence returned like an uninvited guest.
</p>
<p>
As usual Amit was reticent about the whole issue. He merely divulged the fact that the burly man was none other than the tannery owner and husband of Sneha the lady in question. The follower was a government official from the pollution control board. 
</p><p>
My curiosity turned into worry as thoughts of a confrontation between Amit and the man over the lady gnawed at me. Once again I toyed with the idea of returning home, but curiosity held me back, especially when it was becoming interesting. 
</p><p>
A villager turned up bearing a sealed envelope; Amit took it and thanked the messenger. 
</p>
<p>
"Let's plan an open air lunch today," Amit said. 
</p><p>
We packed a lunch and set out to the brook. The Sun burned down from the open sky and the water was like molten silver. The quietness of the place and the shining brook mellowed my anxiety a bit. 
</p><p>
And the next moment the cause of my worry appeared in person. I caught sight of Lady Sneha approaching us with the messenger. 
I nudged Amit to look. He smiled and his eyes brightened. She nodded at me and shook hands with Amit. The villager stood at a little distance from us. 
Sneha looked at me and then inquiringly at Amit. She seemed reassured when Amit introduced me as a friend.
</p><p>
"Dr. Amit, the medicine you prescribed for this man is not very effective," she said, pointing at the villager. "The disease is spreading rapidly on his body."
</p><p>
"That is all we have got right now. I am afraid there is no sure cure for this sort of thing. From the number of patients I am seeing I can say that it is spreading rapidly in the village."
</p><p>
"Is there no hope for this man, then?" She looked sadly at the poor villager. The patch on his arm reminded me of the mineral water vendor. "He lost his job and the respect of his fellow villagers. No one wants to deal with him. He lives in his own village as an outcast. Even his son left him to die."
</p><p>
Amit looked grave. A somber mood prevailed over us for some time. The brook seemed to hold its breath, for its gurgling mellowed. 
The villager stood motionless. There was no expression on his face, just an air of finality about him. 
</p><p>
"It's the water, ma'am," Amit said, "and the soil and the poultry. Polluted. Matter of time before everyone is affected by it. The tannery has poisoned their lives."
</p><p>
At this revelation from Amit, I saw the Sun in the villager's eyes and his frame shook for no apparent reason.
</p><p>
"I will arrange a rehab for this man," Sneha said, getting up. "I must get back quickly before my husband reaches home."
</p>
<p>
Nursing a bottle of beer back in the camp, I asked Amit: "Why is she concerned so much about that villager when the whole village is in danger from this disease?"
</p><p>
"That villager used to work in the tannery. Mr. Vohra dismissed him from the job when he contracted the disease." 
</p><p>
"So it is not just an act of charity on the part of the lady. She feels she owes it to him."
</p><p>
Amit nodded. "She tried to persuade her husband to do something about it. When he refused, she came to me. I told her about the heavy metal contamination from the tannery operations. She helped me gather samples from the pits and the soil around them. I have enough evidence now to start litigation against the factory."
</p><p>
"Does Mr. Vohra know that his wife is colluding with you against him? Is that why he came to warn you the other day?"
</p><p>
Amit shook his head. "He suspects that his wife has taken a fancy for me."
</p><p>
At once I felt remorse. Going by appearances, it was so easy to think of the obvious. "What about that other man, the official who tagged along with Mr. Vohra?"
</p><p>
"According to Sneha, he is the man who has taken a fancy for her. It was he who goaded Mr. Vohra against me to deflect him from his own dishonorable intentions. It is not difficult for you to understand why the tannery passed the pollution check."
</p><p>
I fell silent. The palm trees swayed in the wind. Amit went in to whip up a vegetarian dish. 
</p><p>
I stood up and stretched my limbs. In the distance the tannery seemed to come alive with a lot of activity. Unusual. At this hour the workers retired for the day. Smoke rose from the cylindrical pits. 
</p><p>
The triangular roof of the building glowed in the setting Sun. Soon the smoke spread to all the corners of the tannery. I saw that it was fire and not just the orange sunlight glinting off the steel structure. I hollered for Amit. Fanned by the wind, the fire raged to the height of the concrete column. Within an hour the tannery became a heap of ash, burnt bricks and mangled steel.
</p><p>
"The curse on the village, my friend, is now removed." Amit's lips curled into a smile.
</p>
    </div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %}    