{% include "header.html" %}
<nav>
    <a href="/stories">Stories</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>The Package</h3>
    <div>
        <p>
<p align="center"><strong>1</strong>
</p><p> 
It is common among the middle class to look out for a suitable partner for the girl child who has just finished her studies at the University. The girl is only a guest from now on, and it is the parent's responsibility to find her a new home. The father put her through college as befits a parent with a modern outlook, but the mother, the upholder of the family tradition, must make sure that the hunt for the candidate begins now. 
The girl according to the mother is rebellious with utter disregard for the traditions. She wants to find a mate all by herself and insists that the parents make no effort to arrange a match. 
</p><p> 
The mother thinks it is her ignorance speaking, and her arrogance bred no doubt from too much schooling. But the father chuckles to himself and remains silent. After all, the daughter is by no means going against the tradition of marriage per sè.
</p><p> 
"She wants to go to America!" The mother confronts the father as he is sipping tea on the veranda. She brushes aside the newspaper he was holding between them.
</p><p> 
"She wants to do her Masters there," he said looking into her face. When he looked at her, he couldn't help comparing her eye balls to the kumkum on her forehead: they were exactly the same size and both moved for precisely the same reason: agitation.
</p><p> 
"Why, she will pick up more of that kind of nonsense there. Don't you see? She has all these notions already. No pooja, no household chores; no plaits, no flowers, just go about life like a tomboy."
</p><p> 
The father looks at the daughter to let her do her own defence. A mobile phone glued to her ear, the daughter spoke animatedly into it, while her hand busied itself with pushing the unbraided hair from her face.
</p><p> 
"Swapna!"
</p><p> 
"Wait, mummy," snapped Swapna, soundlessly, glancing at her mother in impatience and irritation, and then turned away to continue her conversation.
</p><p> 
"Hunh," snorted her mother. "It must be that rogue Venky again." She glared at her daughter's slender back and stamped out of the veranda.
</p><p> 
Swapna concluded her call with "sure, I'll do it". She swung round and dashed to her father.
</p><p> 
"Daddy, will you do something for me?" The tone pleaded, the eyes sparkled with expectation and the brow slightly creased with desperate hope.
</p><p> 
The father put down the paper and waited.
</p><p> 
"There is a company that has a programme to help people go abroad. I want to sign up for it."
</p><p> 
"But you wanted to study abroad. You don't want to go there to work?"
</p><p> 
"Oh, this is the easiest path to get there, daddy. Then I can do both."
</p><p> 
Looking into his daughter's eager face, the father thought for a while and then said, "You want to join Venky there?"
</p><p> 
Swapna started, and adjusted her stole to avoid his gaze. "Oh, no no no," she crooned. "I don't know where that fellow is." 
</p><p> 
"What if you don't get a job there?"
</p><p> 
"I will, daddy, I know I will. And I have friends there. They will help if it comes to the worst. But I am sure that will not happen."
</p><p> 
"Are you sure?"
</p><p> 
"Absolutely. Don't even think about it."
</p><p> 
The mother returned and thrust a photograph in her father's hand. "What is the darling feeding you with now?"
</p><p> 
"Nothing, mummy. Your suspicions are as bad as your superstitions."
</p><p> 
While the father scrutinized the photograph, Swapna shot up and walked out of the veranda.
</p><p> 
The mother snorted again at her receding back and turned to the father. "You know the Pidatalas. Good family. The boy is an engineer."
</p><p> 
Swapna hurled a parting shot. "He is a bean stalk, goes well with a cereal; a typical brahmin porridge."
</p><p> 
"He is better than that sudra Venky," retorted the mother.
</p><p> 
"He is NOT a sudra. He is a Reddy, you know that!"
</p><p> 
"See? Didn’t I tell you? She is nuts about that guy."
</p><p> 
"Is he a Reddy?"
</p><p> 
"His father married a woman of some obscure caste." The black pearls in her eyes and the vermillion dot began to roll again. "Forget it. Let's look into this," she said pointing at the photograph. "We better hurry."
</p>
<p align="center"><strong>2</strong>
</p><p> 
As per the custom the Pidatalas agreed to visit the girl's parents with their son to see the girl. At Swapna's insistence, her parents received them in the lobby of a star hotel, instead of meeting the prospective in-laws in their residence. 
</p><p> 
The mother protested initially, worrying that the boy's parents may think it too businesslike. She relented when the father urged her to look at the brighter side: a computer graduate would want a modern girl for a life partner and what would be a better place for a girl to show off her modern outlook? Swapna had refused to wear a traditional dress - a sari or a punjabi dress, even. She wore jeans and a light pink top. Her father suspected that she found their little old-fashioned home not meeting her standards of modern living.
</p><p> 
Swapna looked at the boy and her lips parted a little, the ghost of a smirk hovered in the background as she extended her hand in a greeting. The two mothers exchanged glances and studiously avoided looking at their young ones, while the fathers greeted each other with pranam, then followed it up with a shake of the hands. After a while the waiter served coffee with some biscuits. A loosening of limbs and a polite talk ensued. Swapna looked everywhere but at the boy, who kept stealing glances at her from time to time. Then the party broke up and everyone seemed relieved that the ordeal was over. The elders agreed to keep in touch. Swapna started walking away towards their car, while the boy gaped at her receding back.
</p><p> 
Back in their veranda, Swapna's mother said, "I like the boy. He is so calm and well-mannered. He will be the right person to tame this..this unruly one."
</p><p> 
Swapna reminded her father: "Look, daddy, I kept my side of the bargain. Now you must let me sign up for that program." He responded by a nod of his head.
</p><p> 
"What program?" thundered the mother. "Have you been scheming behind my back?" The dots began moving and the father experienced difficulty focusing on anything but them.
</p><p> 
"She refused to see the boy unless I paid for the expatriate program."
</p><p> 
"That's blackmail!" The mother fumed and turned to her daughter. Swapna was already walking away, speaking into her mobile phone. "Did you pay for it already?"
</p><p> 
 Swapna turned around briefly to see her father nod again in the affirmative, before she went out. "I won't be in for dinner, mommy." She hollered from the gate. "It is my friend's birthday." And she was gone, revving the car through the narrow street.
</p>
<p align="center"><strong>3</strong>
</p><p> 
After graduation Suman Pidatala had applied for a seat in an American university to pursue MS in computer Science. Now he received a confirmation to take the course he had applied for. His father completed all the formalities and there was hardly a month left for him to pack. 
</p><p> 
His mother, however, had shown every sign of disturbance on his imminent departure. How would he live there all alone? Without family, relatives, and home-cooked food, he would starve and feel lonely. When Swapna's father expressed interest in an alliance with her son, she jumped with joy. She thanked all the gods in her repertoire of wooden and stone idols and vowed to donate to the Lord of the Seven Hills if this match went through. "The boy needs a woman to look after his needs," she told his father. "She may not be as good as I am, but at least he will not starve." Then she dropped her voice to a whisper: "At his age he needs to be tethered, you know what I mean? Especially in a place like America."
</p><p> 
After the meeting, however, Swapna did not exactly come across like the kind of girl she had dreamed for her son. Though she felt the girl was brash, she kept her feelings to herself. The girl appeared good-looking and Suman seemed to have been quite taken by her.
</p><p> 
When there was no word from Swapna’s parents, she grew anxious. She consulted a fortune-teller who assured her that this marriage was destined to take place. A shadow of foreboding crossed his face as he looked into Suman’s kundali and shook his head. He then prescribed some ritual appeasement of the gods. This disturbed her more, but yielded to assurances that the propitiation would be effective eventually.
</p><p> 
Contrary to tradition, which required the girl’s parents to respond first after the meeting on match-fixing, the Pidatalas informed Swapna’s father that they were agreeable to the proposal. They added that they wanted to perform the marriage in this month as their son would leave for America to pursue higher studies.
</p>
<p align="center"><strong>4</strong>
</p><p> 
Meanwhile, Swapna found herself in a spot of trouble. The overseas program managers could not deliver on their promise to send candidates abroad. They had collected a lot of money as processing fees and a bunch of dissatisfied customers broke the office furniture and even made a complaint against them at the local police station.
</p><p> 
Her father noticed that the spark in her eyes was lost as was his money that went into the program. Her mother became furious at both for squandering money on a naïve idea. She said, “At least now be sensible and let us inform the Pidatalas that we want to go ahead. It is not correct on our part to keep the boy’s party waiting for long.”
</p><p> 
When her plan to migrate to America fell through, Swapna rebelled again. She refused to marry at all. “I don’t want to marry now. Certainly not that porridge face.”
</p><p> 
Her mother's eyes rolled and the vermillion on the forehead zigged and zagged with each roll. She opened her mouth to deliver a retort when the father said, “The Pidatalas called to say that they were OK with the match.”
</p><p> 
Her mother looked relieved and said, “You know, this girl is lucky, after all. In spite of her stubborn and stupid nature, she has a chance to go into a good family. I think we should go ahead without wasting any more time. I will consult the astrologer for an auspicious day.”
</p><p> 
“Mummy! You can't do this. I am not getting married now. Are you listening?” She shouted as her mother tucked her pallu in her sari and started to go out of the room.
</p><p> 
“Daddy, you have to stop this. This is ridiculous. How can you all force me to it? Are we living in some dark ages?”
</p><p> 
“If we let you do what you want,” the mother hollered from another room, “you will marry someone like that Venky rascal.”
</p><p> 
“What do you know about that guy? Why do you keep calling him names?”
</p><p> 
“I am sure he is the one who put you on to this stupid programme in the first place.”
</p><p> 
“That is all your conjecture. You always find something mean to say about him.”
</p><p> 
“Have you been consulting him or not?”
</p><p> 
“What if I have? He is only trying to help?”
</p><p> 
“See?” The mother confronted the father returning now to the center of the action. “I told you. She is……..bah!” Just then the phone rang, and the interruption infuriated her mother.
</p><p> 
Swapna curled her lip and turned away. Her father watched the TV while the ladies clashed over their differences.
</p><p> 
“Will somebody answer the phone? Do I have to do everything?” The mother fumed.
</p>
<p align="center"><strong>5</strong>
</p><p> 
The Pidatalas informed that since their son was all set to leave for America they wanted to perform the marriage as early as possible. Swapna’s parents approached their daughter once again to press her to accept the alliance. This time they were more hopeful of her acceptance since her America wish could also be fulfilled.
</p><p> 
Swapna of course refused to marry the "porridge" Pidatala, but after an hour long conversation over her mobile phone with her ‘consultant’ she acquiesced.
</p><p> 
“I think this is one sensible advice you got from that…that Venky fellow,” observed her mother. 
</p><p> 
“I don't want to marry in the conventional way. I don’t want a lot of fuss over it.”
</p><p> 
Swapna, she knew, would not accept anything without a bargain. “It is not an option for us. The boy’s family will get to decide how the marriage is to be performed.”
</p><p> 
“I want a registry marriage, or else…”
</p><p> 
“Are you crazy? You know how important a marriage is? It is not just a business deal. It is a sacred ceremony; the gods and the elders among the family, relatives and friends will bless the couple at the end of it.”
</p><p> 
“That is all old world thinking. Nothing sacred about it.”
</p><p> 
“Shut up, Swapna. You have no idea what it means to us. It is a relationship that is meant to last a lifetime. Not something you wear for a time and throw away, like the Americans do. Marriages are made in heaven.”
</p><p> 
Before Swapna could respond, the father interjected adroitly. “The marriage is set for the last day of this month. They want us to do it in Tirupati.”
</p><p> 
“Dear God! Just the way I wanted it,” said the mother, her dots bouncing in delight.
</p><p> 
“Bah!” snorted Swapna and left the room in disgust.
</p><p> 
The marriage took place with all the ceremonial fanfare that a middle class upper caste family is capable of. Elders blessed the couple and the mothers ensured with a series of rites that lasted a day and a night that gods blessed them too. Swapna’s mother shed tears of joy as well as sadness at the prospect of losing an arch-rival at home. The parents of the two families bade a tearful farewell to the newly-weds.
</p><p> 
On the long flight over the Atlantic Swapna ordered red wine and switched on the TV to watch a Hollywood action flick. 
</p><p> 
"I don't drink," Suman said.
</p><p> 
"Never for a moment did I think you do. But you should know they don't server porridge on international flights."
</p><p> 
"What?"
</p><p> 
"Nothing. Watch the movie."
</p><p> 
After downing a bottle, she felt sleepy and found Suman's shoulder an inviting pillow to spend the rest of the journey on. 
</p><p> 
Walking out of the airport terminal, into the wide open spaces of America, into the land of her dreams, Swapna felt delirious. She broke into a kind of salsa, looking everywhere but at Suman, who tagged along behind her lugging at the baggage. Standing near a pillar with open arms was Venky, hat on head and a jersey pulled over his handsome shoulders. In a trice Swapna swept into Venky's arms as air would rush into a vacuum.
</p><p> 
As Suman watched dumbfounded, too dazed to react sensibly, Swapna turned round coquettishly and waved goodbye to him. Then they were gone, Venky and Swapna, vanished like a meteor in the sky.
</p>
<p align="center"><strong>6</strong>
</p><p> 
"I kept the champagne ready for you, baby," cooed Venky. As Swapna stepped into Venky's home she stumbled over a package. 
</p><p> 
"What was that?" she asked.
</p><p> 
"Oh, it's nothing," he said and picking it up shoved the package into a drawer. 
</p><p> 
"Let's celebrate. You know, you waltzed out of the airport."
</p><p> 
"You struck a pose against that pillar like a hero."
</p><p> 
He made the drinks and both settled down on the couch with a glass each.
</p><p> 
"Tell me about the package." 
</p><p> 
"What package?"
</p><p> 
She went over to the drawer and pulled out the hefty package tripping over which almost gave her a sprain. 
</p><p> 
"Leave it alone, Swapna. I will tell you all about it tomorrow."
</p><p> 
"Tell me now." She started tearing at the bulky envelope.
</p><p> 
"It's documents. Legal  stuff." His voice slurred a bit. 
</p><p> 
"Are you drunk already?"
</p><p> 
"Come here, Swapna. You know today has been my luckiest day."
</p><p> 
"Tell me about it," she said, as she pulled out a sheaf of documents.
</p><p> 
"I am now a citizen of the US of A." He declared. "And then you came along and my cup of joy is full." He downed the spirits some more and went on: "I got rid of the devil too."
</p><p> 
"What devil?" Reading the documents, she said, "What's this?" and rose from the couch, visibly agitated.
</p><p> 
"It's over, Swapna. She served a purpose and now she is out of the way."
</p><p> 
Her voice trembled as she said, "You never told me you got married here." She looked once at the photo of the white American woman, buxom and gargantuan, and collapsed on the couch.
</p><p> 
"A marriage of convenience, Swapna. Nothing more to it."
</p><p> 
She began to cry. "You got married months ago and you never told me."
</p><p> 
"I needed time to get the permanent status." He stretched himself across the couch and burped.
</p><p> 
"Why all this fuss?" He countered. "You got married too."
</p><p> 
"It was your plan. But then I left him immediately."
</p><p> 
"I left her too. What's the difference?"
</p><p> 
"You kept me in the dark. I wouldn't do anything without your knowledge." 
</p><p> 
"What's the big deal baby. We will get married soon." He mumbled.
</p><p> 
"You cheated me." Tears rolled down her cheeks, the long black strands of hair streaking across her face. She hurled her glass into the fireplace and stood up. Throwing the papers on his face she stamped out of the house. He attempted to get up but only managed to slide down to the floor. She left the house and called a friend. She was gone before he could utter so much as a word.
</p>
<p align="center"><strong>7</strong>
</p><p> 
Swapna found her friend's shoulder a comforting place to cry her heart out. She called up her father and amidst sobs and silences revealed all. She made a terrible mistake, she told him, and she did not know what to do next. She could hear her mother screaming and swearing in the background, while her father informed her that the Pidatalas had called and heaped abuses on the family. The tone of his voice saddened her more than her predicament. He said that it would be a very long time indeed for the two families to live down such a dishonor. 
</p><p> 
She jabbed the keys on her mobile phone and called a number.
</p><p> 
"Hello. Am I speaking to Suman?"
</p><p> 
"Who's calling?"
</p><p> 
"Suman." His name trembled on her lips. "I know it's you. I'm Swapna." A long silence in which Swapna waited with bated breath. Please, don't hang up, please, please talk to me.
</p><p> 
"Thank you for not hanging up."
</p><p> 
"What do you want?" The voice rasped.
</p><p> 
"I, er...I called to say sorry."
</p><p> 
Another silence, shorter this time, and then a click. The line went dead.
</p><p> 
She lingered for two more days on her friend's hospitality and then she returned to her home in India. 
</p><p> 
Sometime later, as she brooded over her chances of re-establishing contact with the Pidatalas, a hefty package arrived at her home. She didn't need to open it to know what it was; the binding and the lettering said it all. She felt a weight on her chest pulling her down. She gripped the package and slid down a wall on to the floor.
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %} 