{% include "header.html" %}
{% block content %}
        <div class="main-container">
            <h3>Thoughts</h3>
            <h6>To Myself</h6>
            <p>
               I often muse on the nature of the human mind and coupled with my readings on the subject, some thoughts float into the mind. 
            </p>
            <p>
                I have done a bit of soul-searching and now I am confronted with questions. This is my attempt to explore the questions further and come upon some understanding.
            </p>
            <p>
                I have written them down as they occured to me so who knows they may ring true to you too.
            </p>
            <ul class="blog-posts">
                <li><a href="thoughts/random_thoughts">Random Thoughts</a></li>
            </ul>
       </div>
{% endblock %}
<hr>
{% include "footer.html" %}