<!--
    <a href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<anand_b>" class="share-btn twitter">Twitter</a>
    <button id="copy" onclick="Copy()">Copy Link</button> 
-->
<block footer %>
<div id="footer">
    Built with <span style="font-size:100%;color:red;">&hearts;</span> and maintained by <a href="/about">Anand</a>
</div>
<endblock %></endblock>
<!--
    <script>
    function Copy() {
        let url = document.location.href
        navigator.clipboard.writeText(url)
    }
</script>
-->
    </body>
</html>