{% include "header.html" %}
{% block content %}
        <div class="main-container">
            <h3>Poems</h3>
            <h6>Free form</h6>
            <p>
                I attempted a little poetry. Don't say I did't warn you.
            </p>
            <ul class="blog-posts">
                <li><a href="/poems/summer_rain">Summer Rain</a></li>
                <li><a href="/poems/shiny_one">O Shiny One</a></li>
                <li><a href="/poems/ode2morn">Ode To Morning Light</a></li>
                <li><a href="/poems/joy_unbounded">To Joy Unbounded</a></li>
            </ul>
       </div>
{% endblock %}
<hr>
{% include "footer.html" %}