{% include "header.html" %}
<nav>
    <a href="/poems">Poems</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>To Joy Unbounded</h3>
    <div>
<p>
    Empty the mind<br>
    Of all the dust<br>
    In the night<br>
    Before you sleep<br>
</p><p>     
    Wake up in the morn<br>
    To the dawn<br>
    Of a new day<br>
    Like a new born leaf<br>
</p><p>     
    Die, die to yesterday<br>
    To be born again<br>
    The next day<br>
    With a clean slate<br>
</p><p>     
    Rise, rise like pheonix<br>
    From the ashes<br>
    To life and love<br>
    To joy unbounded<br>
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %} 