{% include "header.html" %}
<nav>
    <a href="/poems">Poems</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Lamp of Wisdom</h3>
    <div>
<p> 
Light the lamp of wisdom<br>
Pour the oil of reason<br>
Rein in the winds of senses<br>
Keep it steady like a rock<br>
</p><p> 
Let not the lamp burn out<br>
Lest ash smother light<br>
And wisdom lost in a whiff<br>
Keep vigil night and day<br>
</p><p> 
Matter lives and dies<br>
In forms multitude<br>
Its qualities endure<br>
To build or break alike<br>
</p><p> 
Let not the qualities bind<br>
The spirit rebellious within<br>
With the light of reason rise<br>
Above the material world<br>
</p><p> 
Let the light shine<br>
The dark corners of the night<br>
Let not a secret hide<br>
Nor a habit stick<br>
</p><p> 
Let the light burn<br>
The dross of nature thus<br>
To keep the spirit free<br>
Till eternity<br>
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %} 