{% include "header.html" %}
<nav>
    <a href="/poems">Poems</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>ode to morning light</h3>
    <div>
<p>
slivers of sunlight<br>
shooting through leaf cover<br>
dancing on the canvas<br>
of the bark of a tree<br>
</p><p> 
drawing and wiping<br>
and drawing again<br>
yellow lines on dark brown<br>
lighting up and snuffing out<br>
</p><p> 
alternately throwing streaks<br>
and bounded shapes<br>
like fences and holes<br>
fluttering and in motion<br>
</p><p> 
silently all by itself<br>
no artist at work<br>
but the art in plain sight<br>
showing and hiding<br>
</p><p>
the jewel of light<br>
bright and sharp<br>
piercing through leaves<br>
shivering in light breeze<br>
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %} 