{% include "header.html" %}
<nav>
    <a href="/poems">Poems</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>O Shiny One</h3>
    <div>
<p>
The sun in your eyes
<br>
Lifts the burden of my heart
</p>
<p>
O shiny one who are you
<br>
Why do I feel I know you
</p><p>
The lilt in your voice
<br>
Strums the strings of my heart
</p><p> 
O melody queen of sound
<br>
Have I not heard you before
</p>
<p> 
The grace in your gait
<br>
Quickens the beat in my heart
</p>
<p>
Like the lissom spirit of a danseuse
<br>
Comes alive in man and beast alike
</p>
<p>
Thine eyes full of light
<br>
For whom do they shine
</p>
</div>
</div>
<hr>
{% endblock %}
{% include "footer.html" %} 