{% include "header.html" %}
<nav>
    <a href="/poems">Poems</a>
</nav>
{% block content %}
<div class="main-container">
    <h3>Summer Rain</h3>
    <div>
<p>
Mighty drums roll in the sky<br>
Sound explodes with blinding light
</p><p> 
The soil awaits with bated breath<br>
And the dusty leaves of the summer earth
</p><p> 
The cool breeze ushers twain<br>
The bursting cloud and the gushing rain
</p><p> 
The rushing water cleanses the earth<br>
The glistening leaves in silent mirth
</p><p> 
Ay, you shall feel the change in the heart<br>
When a flower blooms in the midst of a desert
</p>
</div>
<hr>
{% endblock %}
{% include "footer.html" %} 